<% header = employer_name ? t(".header", employer_name: employer_name) : t(".header_no_employer_name") %>
<% content_for :title, header %>
<h1>
    <%= header %>
</h1>

<div class="usa-prose">
    <p><%= t(".subheader", start_date: @aggregator_report.from_date, end_date: @aggregator_report.to_date, agency_acronym: current_agency.agency_short_name) %></p>
</div>

<% if @payroll_account_report.paystubs.any? %>
<h2><%= t(".total_gross_income", amount: format_money(gross_pay)) %></h2>
<div class="usa-prose">
    <p><%= t(".total_gross_description") %></p>
</div>
<% else %>
<h2 class="site-preview-heading">
    <%= t(".none_found") %>
</h2>
<div class="usa-prose">
    <p>
        <%= t(".none_found_description") %>
    </p>
</div>
<% end %>

<%= render(TableComponent.new) do |table| %>
<%= table.with_header do %>
<h3 class="margin-0"><%= t("cbv.payment_details.show.employment_information_table_header") %></h3>
<% end %>
<%= table.with_data_point(:employment_start_date, employment_start_date) %>
<%= table.with_data_point(:employment_end_date, employment_end_date) %>
<%= table.with_data_point(:employment_status, employment_status) %>
<% if has_income_data? %>
<%= table.with_data_point(:pay_frequency, pay_frequency) %>
<%= table.with_data_point(:hourly_rate, compensation_amount, compensation_unit) %>
<% end %>
<% end %>

<%= render(TableComponent.new) do |table| %>
<%= table.with_header do %>
<h3 class="margin-0"><%= t("cbv.payment_details.show.payments_and_deductions_table_header") %></h3>
<% end %>

<% if @payroll_account_report.paystubs.any? %>
<% @payroll_account_report.paystubs.each do |payment| %>
<%= table.with_row_section do |row| %>
<h4 class="margin-0"><%= t("cbv.payment_details.show.pay_date", pay_date: format_date(payment.pay_date)) %></h4>
<% end %>

<%= table.with_data_point(:pay_period, payment.start, payment.end) %>
<%= table.with_data_point(:pay_gross, payment.gross_pay_amount) %>
<%= table.with_data_point(:number_of_hours_worked, payment.hours) %>
<% payment.hours_by_earning_category.each do |category, total_hours| %>
<%= table.with_data_point(:earnings_entry, category, total_hours) %>
<% end %>
<%= table.with_data_point(:net_pay_amount, payment.net_pay_amount) %>
<% payment.deductions.filter { |deduction| deduction.amount > 0 }.each do |deduction| %>
<%= table.with_data_point(:deduction, deduction.category, deduction.amount) %>
<% end %>

<%= table.with_data_point(:pay_gross_ytd, payment.gross_pay_ytd) %>
<% end %>
<% else %>
<%= table.with_row(t(".none_found")) %>
<% end %>
<% end %>

<div class="usa-form-group margin-top-5">
    <h2><%= t(".additional_information_header") %></h2>
    <%= form_with(model: @cbv_flow, url: cbv_flow_payment_details_path, method: :patch) do |form| %>
    <%= hidden_field_tag "user[account_id]", params[:user][:account_id] %>
    <%= form.label :additional_information, t(".additional_information_label", agency_acronym: current_agency.agency_short_name), class: "usa-label" %>
    <%= form.text_area :additional_information, class: "usa-textarea", rows: 5, value: @account_comment %>
    <%= form.submit t(".continue"), class: "usa-button usa-button--primary margin-top-3" %>
    <% end %>
</div>
