<h1>
  <% if employer_name %>
    <%= t(".header", employer_name: employer_name) %>
  <% else %>
    <%= t(".header_no_employer_name") %>
  <% end %>
</h1>

<p><%= t(".subheader", start_date: format_date(start_date), end_date: format_date(end_date)) %></p>
<h2><%= t(".total_gross_income", amount: format_money(gross_pay)) %></h2>
<p><%= t(".total_gross_description") %></p>

<table class="usa-table usa-table--borderless width-full">
  <thead class="border-top-05">
    <tr>
      <th class="padding-3" style="background-color: #d9e8f6;" colspan="2">
        <h3 class="margin-0"><%= t(".employment_information_table_header") %></h3>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= t(".employment_start_date") %></td>
      <td><%= format_date(employment_start_date) %></td>
    </tr>
    <tr>
      <td><%= t(".employment_end_date") %></td>
      <td><%= employment_end_date ? employment_end_date : t("shared.not_applicable") %></td>
    </tr>
    <tr>
      <td><%= t(".employment_status") %></td>
      <td><%= employment_status %></td>
    </tr>
      <% if has_income_data? %>
        <tr>
          <td><%= t(".pay_frequency") %></td>
          <td><%= pay_frequency %></td>
        </tr>
        <tr>
          <td><%= t(".hourly_rate") %></td>
          <td><%= format_money(compensation_amount) %> <%= compensation_unit %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<% if @payments.any? %>
  <table class="usa-table usa-table--borderless width-full">
    <thead class="border-top-05">
      <tr>
        <th class="padding-3" style="background-color: #d9e8f6;" colspan="2">
          <h3 class="margin-0"><%= t(".payments_and_deductions_table_header") %></h3>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td colspan="2">
            <h4 class="margin-0"><%= t(".pay_date", pay_date: format_date(payment[:pay_date])) %></h4>
          </td>
        </tr>
        <tr>
          <td><%= t(".pay_period") %></td>
          <td><%= format_date(payment[:start]) %> to <%= format_date(payment[:end]) %></td>
        </tr>

        <tr>
          <td><%= t(".pay_gross") %></td>
          <td><%= format_money(payment[:gross_pay_amount]) %></td>
        </tr>

        <tr>
          <td><%= t(".pay_net") %></td>
          <td><%= format_money(payment[:net_pay_amount]) %></td>
        </tr>

        <tr>
          <td><%= t(".number_of_hours_worked") %></td>
          <td><%= t(".payment_hours", amount: payment[:hours]) %></td>
        </tr>
        <% payment[:deductions].each do |deduction| %>
          <tr>
            <td><%= t(".deductions", category: deduction[:category]&.humanize) %></td>
            <td><%= format_money(deduction[:amount]) %></td>
          </tr>
        <% end %>
        <tr>
          <td><%= t(".pay_gross_ytd") %></td>
          <td><%= format_money(payment[:gross_pay_ytd]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3 class="site-preview-heading">
    <%= t(".none_found") %>
  </h3>
<% end %>

<div class="usa-form-group">
  <%= form_with(model: @cbv_flow, url: cbv_flow_payment_details_path, method: :patch) do |form| %>
    <%= hidden_field_tag "user[account_id]", params[:user][:account_id] %>
    <%= form.label :additional_information, t(".additional_information_label"), class: "usa-label" %>
    <%= form.text_area :additional_information, class: "usa-textarea", rows: 5, value: @account_comment %>
    <%= form.submit t(".continue"), class: "usa-button usa-button--primary margin-top-3" %>
  <% end %>
</div>
