<h2>
<% if employer_name %>
  <%= t(".header", employer_name: employer_name) %>
<% else %>
  <%= t(".header_no_employer_name") %>
<% end %>
</h2>
<% if @payments.any? %>
    <p><%= t(".subheader", day_count: day_count, start_date: start_date, end_date: end_date) %></p>
    <ul>
    <% @payments.each do |payment| %>
        <li><%= t(".payment_of", amount: number_to_currency(payment[:amount])) %></li>
    <% end %>
    </ul>

  <%= link_to next_path do %>
    <button class="usa-button usa-button--outline" type="button">
      <%= t(".continue") %>
    </button>
  <% end %>
<% else %>
    <h3 class="site-preview-heading">
    <%= t(".none_found") %>
    </h3>
<% end %>
