<% content_for :title, t(".header") %>

<h1><%= t(".your_information") %></h1>
<div class="usa-prose">
  <%= t(".explanation") %>
</div>
<h2><%= t(".application_information") %></h2>
<div class="usa-prose">
  <%= t(".application_information_explanation") %>
</div>
<%= uswds_form_with(model: @cbv_applicant, url: cbv_flow_applicant_information_path, method: "patch") do |f| %>
  <%= render partial: "cbv/applicant_informations/#{@cbv_flow.client_agency_id}", locals: { f: f } %>
  <br/>
  <%= f.submit t(".continue") %>
<% end %>
