<% content_for :title, t(".title") %>

<h1>
  <%= t(".title") %>
</h1>

<p>
  <%= t(".description") %>
</p>

<div class="margin-top-4 measure-6">
  <% @household.household_members.order(:id).each do |member| %>
    <%= render(Uswds::Card.new(class: "household-member-card card-flush margin-bottom-2")) do |card| %>
      <% card.with_header do %>
        <h2 class="usa-card__heading">
          <%= member.display_name %>
        </h2>
      <% end %>

      <% card.with_body do %>
        <p class="margin-y-0">
          <%= member.role_label %>
        </p>
      <% end %>

      <% card.with_footer do %>
        <%= button_to(
              t(".launch"),
              household_member_launch_path(token: @household.auth_token, member_id: member.id),
              method: :post,
              class: "usa-button"
            ) %>
      <% end %>
    <% end %>
  <% end %>
</div>
