<% content_for :head do %>
  <%= tag :meta, name: :argyle_user_token, content: @argyle_user_token %>
  <%= tag :meta, name: :argyle_sandbox, content: ENV['ARGYLE_SANDBOX'] %>
<% end %>

<h2>Get payment info from your employer.</h2>

<form data-controller="cbv-flows" action="<%= next_path %>" method="get">
  <label class="usa-label" for="employer">Search for an employer</label>
  <div class="usa-combo-box margin-bottom-3" data-action="input->cbv-flows#search">
    <select class="usa-select" name="employer" id="employer" data-cbv-flows-target="options" data-action="change->cbv-flows#select">
      <option value>Select an employer</option>
      <% @companies.each do |company| %>
        <option value='<%= company['id'] %>'>
          <%= company['name'] %>
        </option>
      <% end %>
    </select>
    <input type="hidden" name="user[account_id]" data-cbv-flows-target="userAccountId" />
  </div>
  <button data-action="click->cbv-flows#submit" class="usa-button usa-button--outline" disabled="disabled" type="submit" data-cbv-flows-target="continue">Continue</button>
</form>
