<h2>Review payment information from your employer</h2>

<% if @payments.any? %>
  <p>Below is payment information from your employer for the past 90 days.</p>
  <h3 class="site-preview-heading">Total Payments: <%= number_to_currency(@payments.reduce(0) { |sum, payment| sum + payment[:amount] }) %></h3>

  <div class="usa-accordion usa-accordion--multiselectable margin-bottom-4" data-allow-multiple>
    <% @payments.each_with_index do |payment, index| %>
      <div class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="<%= index %>"
        >
          <%= payment[:employer] %>: Payment of <%= number_to_currency(payment[:amount]) %>, <%= format_date(payment[:start]) %> to <%= format_date(payment[:end]) %>
        </button>
      </div>
      <div id="<%= index %>" class="usa-accordion__content usa-prose">
        <p>
          <%= payment[:hours] %> hours
        </p>
      </div>
    <% end %>
  </div>
<% else %>
  <h3 class="site-preview-heading">No payments found. Please refresh the page after a few minutes.</h3>
<% end %>

<button class="usa-button margin-top-3 usa-button--outline" type="button">Share payment information</button>
