<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "" %> | SNAP Income Pilot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div id="root">
      <a class="usa-skipnav" href="#main-content"><%= t("shared.skip_link") %></a>
      <%= render "application/header" %>
      <main id="main-content">
        <section class="grid-container usa-section">
          <%= render HelpAlertComponent.new(visible: params[:help] == "true", help_path: cbv_flow_help_index_path(locale: I18n.locale)) %>

          <% if flash[:notice] %>
            <div class="usa-alert usa-alert--info">
              <div class="usa-alert__body">
                <div class="usa-alert__heading">Information</div>
                <p class="usa-alert__text"><%= flash[:notice] %></p>
              </div>
            </div>
          <% end %>

          <% if flash[:alert] %>
            <div class="usa-alert usa-alert--error">
              <div class="usa-alert__body">
                <div class="usa-alert__heading"><%= flash[:alert_heading] || "Error" %></div>
                <p class="usa-alert__text"><%= flash[:alert] %></p>
              </div>
            </div>
          <% end %>

          <% if flash[:slim_alert] %>
            <div class="usa-alert usa-alert--<%= flash[:slim_alert]["type"] %> usa-alert--slim">
              <div class="usa-alert__body">
                <p class="usa-alert__text">
                  <% if flash[:slim_alert]["message_html"] %>
                    <%= flash[:slim_alert]["message_html"].html_safe %>
                  <% elsif flash[:slim_alert]["message"] %>
                    <%= flash[:slim_alert]["message"] %>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
          <%= yield %>
        </section>
      </main>
      <%= render "application/footer" %>
    </div>

    <%= render HelpModalComponent.new(open: params[:help_modal] == "true", help_path: cbv_flow_help_index_path(locale: I18n.locale)) %>
  </body>
</html>
