<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Component Preview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
    <div class="padding-3">
      <%= yield %>
    </div>
  </body>
</html>
