<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="bg-white">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="padding-0">
    <%= yield %>
  </body>
</html>
