<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Verify.gov</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= yield :head %>

    <%= wicked_pdf_stylesheet_link_tag "application" %>
  </head>

  <body>
    <div id="root">
      <div>
        <span class="cbv-header__pilot-name">
          <%= t("shared.pilot_name") %>
        </span>
        <% if current_site %>
          <span class="cbv-header__separator">|</span>
        <% end %>
        <%= site_translation("shared.header.cbv_flow_title") %>
      </div>

      <main id="main-content">
        <section class="grid-container usa-section">
          <%= yield %>
        </section>
      </main>
    </div>
  </body>
</html>
