<h1><%= t(".header") %></h1>
<h2><%= t(".subheader") %></h2>
<ol class="usa-process-list">
    <li class="usa-process-list__item"><%= t(".step1") %></li>
    <li class="usa-process-list__item"><%= t(".step2") %></li>
    <li class="usa-process-list__item"><%= t(".step3") %></li>
    <li class="usa-process-list__item"><%= t(".step4") %></li>
</ol>

<%= form_with(url: cbv_flow_agreement_path, builder: UswdsFormBuilder, data: { turbo: "false" }) do |f| %>
    <%= f.check_box(:agreement, { 'label': t(".checkbox", agency_name: current_site.agency_name) }) %>
    <%= f.submit t(".get_started") %>
<% end %>
