<h1><%= t(".title") %></h1>

<div class="usa-prose">
  <p>
    <%= t(".description") %>
  </p>

  <ol>
    <li><%= t(".option_1") %></li>
    <li><%= t(".option_2") %></li>
    <li><%= t(".option_3") %></li>
  <ol>
</div>

<ul class="usa-button-group margin-top-5">
  <li class="usa-button-group__item">
    <%= link_to t(".back_to_search"), cbv_flow_employer_search_path, class: "usa-button usa-button--outline", data: { turbo: "false" } %>
  </li>
  <li class="usa-button-group__item">
    <% if @cbv_flow.has_valid_account? %>
      <%= link_to t(".continue_to_report"), cbv_flow_summary_path, class: "usa-button" %>
    <% else %>
      <%= site_translation("cbv.expired_invitations.show.cta_button_html") %>
    <% end %>
  </li>
</ul>
