<%= render(TableComponent.new) do |table| %>
  <%= table.with_header_cell(scope: "col") { t("shared.table_headers.work_program_information") } %>
  <%= table.with_header_cell(scope: "col") { t("shared.table_headers.your_details") } %>
  <%= table.with_row do |row| %>
    <%= row.with_data_cell(is_header: true) do %>
      <%= t("activities.summary.job_training.organization_provider_name") %>
    <% end %>
    <%= row.with_data_cell do %>
      <%= activity.organization_name.presence || t("shared.not_applicable") %>
    <% end %>
  <% end %>

  <%= table.with_row do |row| %>
    <%= row.with_data_cell(is_header: true) do %>
      <%= t("activities.summary.job_training.program_name") %>
    <% end %>
    <%= row.with_data_cell do %>
      <%= activity.program_name.presence || t("shared.not_applicable") %>
    <% end %>
  <% end %>

  <%= table.with_row do |row| %>
    <%= row.with_data_cell(is_header: true) do %>
      <%= t("activities.summary.job_training.address") %>
    <% end %>
    <%= row.with_data_cell do %>
      <%= activity.formatted_address.presence || t("shared.not_applicable") %>
    <% end %>
  <% end %>

  <%= table.with_row do |row| %>
    <%= row.with_data_cell(is_header: true) do %>
      <%= t("activities.summary.job_training.contact_name") %>
    <% end %>
    <%= row.with_data_cell do %>
      <%= activity.contact_name.presence || t("shared.not_applicable") %>
    <% end %>
  <% end %>

  <%= table.with_row do |row| %>
    <%= row.with_data_cell(is_header: true) do %>
      <%= t("activities.summary.job_training.contact_email") %>
    <% end %>
    <%= row.with_data_cell do %>
      <%= activity.contact_email.presence || t("shared.not_applicable") %>
    <% end %>
  <% end %>

  <%= table.with_row do |row| %>
    <%= row.with_data_cell(is_header: true) do %>
      <%= t("activities.summary.job_training.contact_phone") %>
    <% end %>
    <%= row.with_data_cell do %>
      <%= activity.contact_phone_number.presence || t("shared.not_applicable") %>
    <% end %>
  <% end %>

<% end %>

<h3><%= t("activities.summary.monthly_details") %></h3>
<%= render(TableComponent.new) do |table| %>
  <%= table.with_header_cell(is_header: true, scope: "col") { t("activities.summary.job_training.month") } %>
  <%= table.with_header_cell(is_header: true, scope: "col") { t("activities.summary.job_training.work_program_hours") } %>
  <% activity.job_training_activity_months.order(:month).each do |month_hours| %>
    <%= table.with_row do |row| %>
      <%= row.with_data_cell(data_label: t("activities.summary.job_training.month"), is_header: true)
             .with_content(I18n.l(month_hours.month, format: :month)) %>
      <%= row.with_data_cell(data_label: t("activities.summary.job_training.work_program_hours"))
             .with_content(month_hours.hours) %>
    <% end %>
  <% end %>
<% end %>
