<% enrollment_terms = activity.nsc_enrollment_terms.order(:term_begin, :term_end, :school_name) %>
<% first_term = enrollment_terms.first %>
<% student_name = [ first_term&.first_name, first_term&.middle_name, first_term&.last_name ].compact_blank.join(" ").presence || t("shared.not_applicable") %>

<%= render(TableComponent.new) do |table| %>
  <%= table.with_header_cell(scope: "col") { t("shared.table_headers.education_information") } %>
  <%= table.with_header_cell(scope: "col") { t("shared.table_headers.your_details") } %>
  <%= table.with_row do |row| %>
    <%= row.with_data_cell(is_header: true) do %>
      <%= t("components.enrollment_term_table_component.student_name_label") %>
    <% end %>
    <%= row.with_data_cell do %>
      <%= student_name %>
    <% end %>
  <% end %>

  <% enrollment_terms.group_by(&:school_name).each do |school_name, school_terms| %>
    <%= table.with_row do |row| %>
      <%= row.with_data_cell(is_header: true) do %>
        <%= t("components.enrollment_term_table_component.school_or_program") %>
      <% end %>
      <%= row.with_data_cell do %>
        <%= school_name.to_s.titlecase.presence || t("shared.not_applicable") %>
      <% end %>
    <% end %>

    <% school_terms.each do |enrollment_term| %>
      <%= table.with_row do |row| %>
        <%= row.with_data_cell(is_header: true) do %>
          <%= t("components.enrollment_term_table_component.enrollment_term") %>
        <% end %>
        <%= row.with_data_cell do %>
          <%= format_date(enrollment_term.term_begin) %>
          &dash;
          <%= format_date(enrollment_term.term_end) %>
        <% end %>
      <% end %>

      <%= table.with_row do |row| %>
        <%= row.with_data_cell(is_header: true) do %>
          <%= t("components.enrollment_term_table_component.enrollment_status") %>
        <% end %>
        <%= row.with_data_cell do %>
          <% enrollment_status_key = "components.enrollment_term_table_component.status.#{enrollment_term.enrollment_status}" %>
          <%= I18n.exists?(enrollment_status_key) ? t(enrollment_status_key) : t("shared.not_applicable") %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
<% end %>

<h3><%= t("activities.summary.monthly_details") %></h3>
<%= render(TableComponent.new(is_responsive: true, class_names: "activity-review-hours-table")) do |table| %>
  <%= table.with_subheader_row(class_names: "subheader-row base-lightest") do |row| %>
    <%= row.with_data_cell(is_header: true, class_names: "text-nowrap")
           .with_content(t("activities.education.review.term")) %>
    <%= row.with_data_cell(is_header: true, class_names: "text-nowrap")
           .with_content(t("components.enrollment_term_table_component.enrollment_status")) %>
    <%= row.with_data_cell(is_header: true, class_names: "text-nowrap")
           .with_content(t("activities.summary.education.term_credit_hours")) %>
  <% end %>
  <% enrollment_terms.each do |enrollment_term| %>
    <%= table.with_row do |row| %>
      <%= row.with_data_cell(data_label: t("activities.education.review.term"), is_header: true) do %>
        <%= format_date(enrollment_term.term_begin) %>
        &dash;
        <%= format_date(enrollment_term.term_end) %>
      <% end %>
      <%= row.with_data_cell(data_label: t("components.enrollment_term_table_component.enrollment_status")) do %>
        <% enrollment_status_key = "components.enrollment_term_table_component.status.#{enrollment_term.enrollment_status}" %>
        <%= I18n.exists?(enrollment_status_key) ? t(enrollment_status_key) : t("shared.not_applicable") %>
      <% end %>
      <%= row.with_data_cell(data_label: t("activities.summary.education.term_credit_hours"))
             .with_content(activity.review_term_credit_hours(enrollment_term)) %>
    <% end %>
  <% end %>
<% end %>
