<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Verify.gov</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <% if Rails.env.production? %>
      <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
      <%= javascript_include_tag "https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA", async: true, id:"_fed_an_ua_tag" %>
    <% end %>
  </head>

  <body>
    <div id="root">
      <%= render "application/usa_banner" %>
      <%= render "application/header" %>
      <main id="main-content">
        <section class="grid-container usa-section">
          <%= yield %>
        </section>
      </main>
    </div>
  </body>
</html>
