<h2><%= t('.header', day_count: '30') %></h2>
<p><%= t('.subheader') %></p>

<%= form_with(url: cbv_flow_add_job_path, builder: UswdsFormBuilder) do |f| %>
  <%= f.radio_button(:additional_jobs, 'true', { 'label': t('.yes_radio')}) %>
  <%= f.radio_button(:additional_jobs, 'false', { 'label': t('.no_radio')}) %>
  <%= f.submit t('.continue') %>
<% end %>