<% content_for :title, t(".header") %>
<h1><%= t(".header") %></h1>
<p><%= t(".subheader", pay_income_days: current_agency.pay_income_days) %></p>

<div data-controller="cbv-add-job">
  <h2><%= t(".answer_yes_header_html") %></h2>

<div class="usa-prose">
  <ul>
    <li><%= t(".answer_yes_bullet_1") %></li>
    <li><%= t(".answer_yes_bullet_2") %></li>
    <li><%= t(".answer_yes_bullet_3") %></li>
  </ul>
  </div>

  <h2><%= t(".answer_no_header") %></h2>
  <div class="usa-prose">
  <ul>
    <li><%= t(".answer_no_bullet_1") %></li>
    <li><%= t(".answer_no_bullet_2") %></li>
    <li><%= t(".answer_no_bullet_3") %></li>
    <li><%= t(".answer_no_bullet_4") %></li>
    <li><%= t(".answer_no_bullet_5") %></li>
  </ul>

    <p class="margin-bottom-2">
      <%= t(".criteria_disclaimer", pay_income_days: current_agency.pay_income_days) %>
      <%= agency_translation(".learn_more_link_html", agency_url: agency_url) %>
    </p>
</div>

  <%= form_with(url: cbv_flow_add_job_path, builder: UswdsFormBuilder, data: { "add-job-target": "addJobForm", turbo: "false" }, id: "add_job_form") do |f| %>
    <%= f.radio_button(:additional_jobs, true, { label: t(".yes_radio") }) %>
    <%= f.radio_button(:additional_jobs, false, { label: t(".no_radio") }) %>
    <div class="margin-top-5">
      <%= f.submit t(".continue") %>
      </div>
<% end %>
</div>
