<% content_for :title, t(".header") %>
<h1><%= t(".header") %></h1>
<p><%= t(".header_sub_text") %></p>

<div data-controller="cbv-add-job">
  <h2><%= t(".header_2") %></h2>

<div class="usa-prose">
  <ul>
    <li><%= t(".header_2_bullet_1") %></li>
    <li><%= t(".header_2_bullet_2") %></li>
    <li><%= t(".header_2_bullet_3") %></li>
  </ul>
  </div>

  <%= form_with(url: cbv_flow_add_job_path, builder: UswdsFormBuilder, data: { "add-job-target": "addJobForm", turbo: "false" }, id: "add_job_form") do |f| %>
    <%= f.radio_button(:additional_jobs, true, { label: t(".radio_yes") }) %>
    <%= f.radio_button(:additional_jobs, false, { label: t(".radio_no") }) %>
    <div class="margin-top-5">
      <%= f.submit t(".continue") %>
      </div>
<% end %>
</div>
