<div class="<%= local_assigns[:wrapper_class] %>">
    <% if local_assigns[:header] %>
        <h3><%= header %></h3>
    <% end %>
    <table class="usa-table usa-table--borderless width-full <%= local_assigns[:table_class] %>">
        <thead>
            <tr>
                <th class="padding-3" style="background-color: #d9e8f6;">
                    <h4 class="margin-0"><%= t(".other_jobs") %></h4>
                </th>
                <th class="padding-3" style="background-color: #d9e8f6;">
                    <%# intentionally empty for equal header spacing %>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= strip_tags(t("cbv.other_jobs.show.header_html")) %></td>
                <td><%= @cbv_flow.has_other_jobs ? t("us_form_with.boolean_true") : t("us_form_with.boolean_false") %></td>
            </tr>
        </tbody>
  </table>
</div>
