<% content_for :title, t(".header") %>
<h1>
  <%= t(".header") %>
</h1>

<div class="margin-bottom-6 usa-prose" data-testid="summary-description">
  <p>
    <%= t(".description", start_date: format_date(@aggregator_report.from_date), end_date: format_date(@aggregator_report.to_date), agency_acronym: agency_translation("shared.agency_acronym")) %>
  </p>
</div>

<% @aggregator_report.summarize_by_employer.each_with_index do |(account_id, summary), index| %>
  <% employment = summary[:employment] %>
  <% is_w2_worker = employment&.employment_type == :w2 %>
  <h3 data-testid="paystub-table-caption">
    <% employer_name = employment&.employer_name %>
    <% if employer_name %>
      <%= t(".table_caption", number: index + 1, employer_name: employer_name) %>
    <% else %>
      <%= t(".table_caption_no_name", number: index + 1) %>
    <% end %>
  </h3>
  <% if is_w2_worker %>
    <% if summary[:total] > 0 %>
      <%= render(TableComponent.new(is_responsive: true, class_names: "cbv-attributes-table__stacked")) do |table| %>
        <%= table.with_subheader_row(class_names: "subheader-row base-lightest") do |row| %>
          <% row.with_data_cell(is_header: true, attributes: {"data-testid" => "paystub-total-income"}) do %>
            <% if summary[:total] > 0 %>
              <% if employer_name %>
                <%= t(".total_income_from", employer_name: employer_name, amount: format_money(summary[:total])) %>
              <% else %>
                <%= t(".total_income_from_no_employer_name", amount: format_money(summary[:total])) %>
              <% end %>
            <% else %>
              <%= t(".none_found") %>
            <% end %>
          <% end %>
        <% end %>
        <% summary[:paystubs].each do |paystub| %>
          <%= table.with_row do |row| %>
            <%= row.with_data_cell(attributes: {"data-testid" => "paystub-row"})
                  .with_content(t(".payment", amount: format_money(paystub.gross_pay_amount), date: format_date(paystub.pay_date))) %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% employment_type = summary[:employment]&.employment_type || :w2 %>
        <%= render AlertComponent.new(type: :info, heading: t("cbv.payment_details.show.none_found", report_data_range: report_data_range(@aggregator_report, account_id)), class: "margin-top-5") do %>
        <%= t("cbv.payment_details.show.none_found_description", report_data_range: report_data_range(@aggregator_report, account_id)) %>
      <% end %>
    <% end %>
    <% else %>
      <%= render(Report::MonthlySummaryTableComponent.new(@aggregator_report, account_id, show_footnote: false, show_payments: false)) %>
    <% end %>
<h4><%= t(".additional_comments") %></h4>
<%= get_comment_by_account_id(account_id).dig("comment") != "" ? get_comment_by_account_id(account_id).dig("comment") : t("shared.not_applicable") %>
<% end %>

<% if @cbv_flow.cbv_flow_invitation.blank? %>
  <h3><%= t(".your_information") %></h3>
  <div class="usa-prose">
    <p><%= agency_translation(".must_match", agency_acronym: agency_translation("shared.agency_acronym")) %></p>
  </div>
  <%= render(TableComponent.new(is_responsive: true, class_names: "cbv-attributes-table__stacked margin-top-2")) do |table| %>
    <%= table.with_subheader_row(class_names: "subheader-row base-lightest") do |row| %>
        <% row.with_data_cell(is_header: true).with_content(t(".application_information")) %>
        <% row.with_data_cell(is_header: true, class_names: "text-right") do %>
          <%= link_to cbv_flow_applicant_information_path(force_show: true), class: "usa-link" do %>
            <%= image_tag "@uswds/uswds/dist/img/usa-icons/edit.svg", role: "img", alt: "" %>
            Edit
          <% end %>
        <% end %>
    <% end %>
    <% @cbv_flow.cbv_applicant.applicant_attributes.each do |item| %>
      <% table.with_row do |row| %>
        <% row.with_data_cell(class_names: "cbv-attributes-table__label-cell text-bold tablet:text-normal").with_content(t("cbv.applicant_informations.#{@cbv_flow.client_agency_id}.fields.#{item}.prompt")) %>
        <% row.with_data_cell do %>
          <% if item == :date_of_birth %>
            <%= format_date(@cbv_flow.cbv_applicant[item]) %>
          <% else %>
            <%= @cbv_flow.cbv_applicant[item] %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= button_to t("continue"), cbv_flow_submit_path, class: "btn btn-primary usa-button margin-y-5", method: :get %>
