<% content_for :title, t(".header") %>
<h1>
  <%= t(".header") %>
</h1>

<div class="margin-bottom-6 usa-prose" data-testid="summary-description">
  <p>
      <%= t(".description", start_date: format_date(@aggregator_report.from_date), end_date: format_date(@aggregator_report.to_date), agency_acronym: current_agency.agency_short_name) %>
  </p>
</div>

<h2 class="site-preview-heading"><%= t(".total_payments", amount: format_money(@aggregator_report.total_gross_income)) %></h2>
<div class="usa-prose">
  <p><%= t(".total_payments_desc") %></p>
</div>

<% @aggregator_report.summarize_by_employer.each_with_index do |(account_id, summary), index| %>
<table class="usa-table usa-table--borderless width-full" data-testid="paystub-table">
  <h3 data-testid="paystub-table-caption">
      <% employer_name = summary[:has_employment_data] ? summary[:employment].employer_name : nil %>
      <% if employer_name %>
      <%= t(".table_caption", number: index + 1, employer_name: employer_name) %>
      <% else %>
      <%= t(".table_caption_no_name", number: index + 1) %>
      <% end %>
  </h3>
  <thead class="border-top-05">
      <tr>
        <th class="padding-3" style="background-color: #d9e8f6;" colspan="2">
          <h4 class="margin-0" data-testid="paystub-total-income">
            <% if summary[:total] > 0 %>
            <% if employer_name %>
            <%= t(".total_income_from", employer_name: employer_name, amount: format_money(summary[:total])) %>
            <% else %>
            <%= t(".total_income_from_no_employer_name", amount: format_money(summary[:total])) %>
            <% end %>
            <% else %>
            <%= t(".none_found") %>
            <% end %>
          </h4>
        </th>
      </tr>
  </thead>
  <tbody>
    <% summary[:paystubs].each do |paystub| %>
    <tr data-testid="paystub-row">
      <td><%= t(".payment", amount: format_money(paystub.gross_pay_amount), date: format_date(paystub.pay_date)) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<h4><%= t(".additional_comments") %></h4>
<%= get_comment_by_account_id(account_id).dig("comment") != "" ? get_comment_by_account_id(account_id).dig("comment") : t("shared.not_applicable") %>
<% end %>

<% if @cbv_flow.cbv_flow_invitation.blank? %>
<table class="usa-table usa-table--borderless width-full margin-top-2">
  <h3><%= t(".your_information") %></h3>
  <div class="usa-prose">
    <p><%= t(".must_match", agency_acronym: current_agency.agency_short_name) %></p>
  </div>
  <thead class="border-top-05">
    <tr>
      <th class="padding-3" style="background-color: #d9e8f6;">
        <h4 class="margin-0">
          <%= t(".application_information") %>
        </h4>
      </th>
      <th class="padding-3" style="background-color: #d9e8f6; text-align: right;">
        <h4 class="margin-0">
          <%= link_to cbv_flow_applicant_information_path(force_show: true), class: "usa-link" do %>
            <%= image_tag "@uswds/uswds/dist/img/usa-icons/edit.svg", role: "img", alt: "" %>
            Edit
          <% end %>
        </h4>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @cbv_flow.cbv_applicant.applicant_attributes.each do |item| %>
      <% if @cbv_flow.cbv_applicant[item].present? %>
        <tr>
          <td><%= t("cbv.applicant_informations.#{@cbv_flow.client_agency_id}.fields.#{item}.prompt") %></td>
          <td>
            <% if item == :date_of_birth %>
              <%= format_date(@cbv_flow.cbv_applicant[item]) %>
            <% else %>
              <%= @cbv_flow.cbv_applicant[item] %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  </table>
<% end %>

<%= button_to t("continue"), cbv_flow_submit_path, class: "btn btn-primary usa-button margin-y-5", method: :get %>
