<h2>
  <%= t(".header") %>
</h2>

<% if @payments.any? %>
  <p>
    <%= t(".description") %>
  </p>
  <h3 class="site-preview-heading"><%= t(".total_payments", amount: number_to_currency(total_gross_income)) %></h3>

  <% payments_grouped_by_employer.each_with_index do |(account_id, summary), index| %>
    <table class="usa-table usa-table--borderless width-full">
      <caption>
        <% if summary[:employer_name] %>
          <%= t(".table_caption", number: index, employer_name: summary[:employer_name]) %>
        <% else %>
          <%= t(".table_caption_no_name", number: index + 1) %>
        <% end %>
      </caption>
      <thead class="border-top-05">
        <tr>
          <th class="padding-3" style="background-color: #d9e8f6;" colspan="2">
            <h3 class="margin-0">
              <% if summary[:employer_name] %>
                <%= t(".total_income_from", employer_name: summary[:employer_name], amount: summary[:total]) %>
              <% else %>
                <%= t(".total_income_from_no_employer_name", amount: number_to_currency(summary[:total])) %>
              <% end %>
            </h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <% summary[:payments].each do |payment| %>
          <tr>
            <td><%= t(".payment", amount: number_to_currency(payment[:amount]), date: format_date(payment[:pay_date])) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <h3 class="site-preview-heading">
    <%= t(".none_found") %>
  </h3>
<% end %>

<h2>
  <%= t(".form.subheader") %>
</h2>
<%= form_for(@cbv_flow, url: cbv_flow_summary_path, builder: UswdsFormBuilder) do |f| %>
  <%= f.text_area :additional_information, label: t(".form.additional_info.label") %>
  <%= f.submit t(".form.submit") %>
<% end %>
