<h2>
  <%= t(".header") %>
</h2>

<% if @payments.any? %>
  <div class="width-full margin-bottom-6">
    <p>
      <%= t(".description") %>
    </p>
    <h3 class="site-preview-heading"><%= t(".total_payments", amount: format_money(total_gross_income)) %></h3>

    <% payments_grouped_by_employer.each_with_index do |(account_id, summary), index| %>
      <table class="usa-table usa-table--borderless width-full">
        <caption>
          <% if summary[:employer_name] %>
            <%= t(".table_caption", number: index, employer_name: summary[:employer_name]) %>
          <% else %>
            <%= t(".table_caption_no_name", number: index + 1) %>
          <% end %>
        </caption>
        <thead class="border-top-05">
          <tr>
            <th class="padding-3" style="background-color: #d9e8f6;" colspan="2">
              <h3 class="margin-0">
                <% if summary[:employer_name] %>
                  <%= t(".total_income_from", employer_name: summary[:employer_name], amount: summary[:total]) %>
                <% else %>
                  <%= t(".total_income_from_no_employer_name", amount: format_money(summary[:total])) %>
                <% end %>
              </h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <% summary[:payments].each do |payment| %>
            <tr>
              <td><%= t(".payment", amount: format_money(payment[:net_pay_amount]), date: format_date(payment[:pay_date])) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <h4><%= t(".additional_comments") %></h4>
      <%= get_comment_by_account_id(account_id).dig("comment") ? get_comment_by_account_id(account_id).dig("comment") : t("shared.not_applicable") %>
    <% end %>
  </div>
<% else %>
  <h3 class="site-preview-heading">
    <%= t(".none_found") %>
  </h3>
<% end %>

<%= form_for(@cbv_flow, url: cbv_flow_summary_path, builder: UswdsFormBuilder) do |f| %>
  <%= f.submit t(".send_to_caseworker") %>
<% end %>
