<% content_for :title, t(".header") %>
<h1>
  <%= t(".header") %>
</h1>

<p data-testid="summary-description">
  <%= t(".description", start_date: format_date(@aggregator_report.from_date), end_date: format_date(@aggregator_report.to_date), agency_acronym: agency_translation("shared.agency_acronym")) %>
</p>

<% @aggregator_report.summarize_by_employer.each_with_index do |(account_id, summary), index| %>
  <% employment = summary[:employment] %>
  <% is_w2_worker = employment&.employment_type == :w2 %>
  <h2 data-testid="paystub-table-caption">
    <% employer_name = employment&.employer_name %>
    <% if employer_name %>
      <%= t(".table_caption", number: index + 1, employer_name: employer_name) %>
    <% else %>
      <%= t(".table_caption_no_name", number: index + 1) %>
    <% end %>
  </h2>
  <% if is_w2_worker %>
    <% if @aggregator_report.find_account_report(account_id).paystubs.any? %>
      <%= render(Report::W2MonthlySummaryTableComponent.new(@aggregator_report, @cbv_flow.payroll_accounts.find_by(pinwheel_account_id: account_id), show_footnote: false)) %>
    <% else %>
      <%= render AlertComponent.new(type: :info, heading: t(".none_found", report_data_range: report_data_range(@aggregator_report, account_id)), class: "margin-top-5") do %>
        <%= t(".none_found_description", report_data_range: report_data_range(@aggregator_report, account_id)) %>
      <% end %>
    <% end %>
  <% else %>
    <%= render(Report::GigMonthlySummaryTableComponent.new(@aggregator_report, account_id, show_footnote: false, show_payments: false)) %>
  <% end %>
  <h3><%= t(".additional_comments") %></h3>
  <p><%= get_comment_by_account_id(account_id).dig("comment") != "" ? get_comment_by_account_id(account_id).dig("comment") : t("shared.not_applicable") %></p>
<% end %>

<!-- Generic link flow, no invitation -->
<% if @cbv_flow.cbv_flow_invitation.blank? %>
<h2><%= t(".your_information") %></h2>
<p><%= agency_translation(".must_match", agency_acronym: agency_translation("shared.agency_acronym")) %></p>
<div class="display-flex flex-justify font-body-md">
  <h3><%= t(".application_information") %></h3>
  <%= link_to t(".edit"), cbv_flow_applicant_information_path(force_show: true), class: "usa-link text-bold margin-0" %>
</div>
<%= render(TableComponent.new(is_responsive: true, class_names: "margin-top-2", thead_class_names: "", attributes: { "data-testid" => "paystub-table" })) do |table| %>
  <%= table.with_subheader_row(class_names: "subheader-row base-lightest border-top-1px") do |row| %>
    <% row.with_data_cell(is_header: true).with_content(t(".question")) %>
    <% row.with_data_cell(is_header: true).with_content(t(".your_answer")) %>
  <% end %>
  <% @cbv_flow.cbv_applicant.applicant_attributes.each do |item| %>
      <% table.with_row do |row| %>
        <% row.with_data_cell(data_label: t(".question"), class_names: "text-bold").with_content(t("cbv.applicant_informations.#{@cbv_flow.client_agency_id}.fields.#{item}.prompt")) %>
        <% row.with_data_cell(data_label: t(".your_answer")) do %>
          <% if item == :date_of_birth %>
            <%= format_date(@cbv_flow.cbv_applicant[item]) %>
          <% else %>
            <%= @cbv_flow.cbv_applicant[item] %>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
<!-- Other jobs -->
<div class="display-flex flex-justify font-body-md">
  <h3><%= t("cbv.summaries.show.other_jobs") %></h3>
  <%= link_to t("cbv.summaries.show.edit"), cbv_flow_other_job_path, class: "usa-link text-bold margin-0" %>
</div>
<%= render(TableComponent.new(is_responsive: true, class_names: "margin-top-2", thead_class_names: "", attributes: { "data-testid" => "other-jobs-table" })) do |table| %>
  <%= table.with_subheader_row(class_names: "subheader-row base-lightest border-top-1px") do |row| %>
    <% row.with_data_cell(is_header: true).with_content(t(".question")) %>
    <% row.with_data_cell(is_header: true).with_content(t(".your_answer")) %>
  <% end %>
  <% table.with_row do |row| %>
    <% row.with_data_cell(data_label: t(".question"), class_names: "text-bold").with_content(t("cbv.other_jobs.show.header")) %>
    <% row.with_data_cell(data_label: t(".your_answer")).with_content(format_boolean(@cbv_flow.has_other_jobs)) %>
  <% end %>
<% end %>
<% end %>

<%= button_to t("continue"), cbv_flow_submit_path, class: "btn btn-primary usa-button margin-y-5", method: :get %>
