<% content_for :title, t(".header") %>
<h1>
  <%= t(".header") %>
</h1>

<div class="margin-bottom-6 usa-prose">
  <p>
    <%= t(".description", start_date: @payments_beginning_at, end_date: @payments_ending_at, agency_acronym: current_agency.agency_short_name) %>
  </p>
</div>

<h2 class="site-preview-heading"><%= t(".total_payments", amount: format_money(total_gross_income)) %></h2>
<div class="usa-prose">
  <p><%= t(".total_payments_desc") %></p>
</div>

<% payments_grouped_by_employer.each_with_index do |(account_id, summary), index| %>
  <table class="usa-table usa-table--borderless width-full">
    <h3>
      <% employer_name = summary[:has_employment_data] ? summary[:employment].employer_name : nil %>
      <% if employer_name %>
        <%= t(".table_caption", number: index + 1, employer_name: employer_name) %>
      <% else %>
        <%= t(".table_caption_no_name", number: index + 1) %>
      <% end %>
    </h3>
    <thead class="border-top-05">
            <tr>
        <th class="padding-3" style="background-color: #d9e8f6;" colspan="2">
          <h4 class="margin-0">
            <% if summary[:total] > 0 %>
              <% if employer_name %>
                <%= t(".total_income_from", employer_name: employer_name, amount: format_money(summary[:total])) %>
              <% else %>
                <%= t(".total_income_from_no_employer_name", amount: format_money(summary[:total])) %>
              <% end %>
            <% else %>
              <%= t(".none_found") %>
            <% end %>
          </h4>
        </th>
            </tr>
    </thead>
          <tbody>
      <% summary[:payments].each do |payment| %>
              <tr>
          <td><%= t(".payment", amount: format_money(payment.gross_pay_amount), date: format_date(payment.pay_date)) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  <h4><%= t(".additional_comments") %></h4>
  <%= get_comment_by_account_id(account_id).dig("comment") != "" ? get_comment_by_account_id(account_id).dig("comment") : t("shared.not_applicable") %>
  <% end %>

<% if !@cbv_flow.cbv_flow_invitation.present? %>
<br/><br/>
<table class="usa-table usa-table--borderless width-full">
  <h3>Your information</h3>
  <div class="usa-prose">
    <p><%= "This must match what is shown on your [agency] application." %></p>
  </div>
  <thead class="border-top-05">
          <tr>
      <th class="padding-3" style="background-color: #d9e8f6;">
        <h4 class="margin-0">
          <%= "Application information" %>
        </h4>
      </th>
      <th class="padding-3" style="background-color: #d9e8f6; text-align: right;">
        <h4 class="margin-0">
          <a class="usa-link" href="<%= cbv_flow_applicant_information_path(force_show: true) %>">
            <svg class="usa-icon usa-icon--size-1" aria-hidden="true" role="img">
              <use
                xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#edit") %>"
              ></use>
            </svg>
            Edit
          </a>
        </h4>
      </th>
          </tr>
  </thead>
  <tbody>
    <%# probably want something like Rails.application.config.client_agencies[client_agency_id].user_attrs %>
    <% Rails.application.config.client_agencies[@cbv_flow.client_agency_id].required_applicant_attrs.each do |item| %>
      <% if @cbv_flow.cbv_applicant[item[0]].present? %>
        <tr>
          <td><%= item[0] %></td>
          <td><%= @cbv_flow.cbv_applicant[item[0]] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  </table>
<% end %>

<%= button_to t("continue"), cbv_flow_submit_path, class: "btn btn-primary usa-button margin-y-5", method: :get %>
