<div class="grid-row" id="<%= dom_id pinwheel_account %>">
  <div
    class="tablet:grid-col-2 grid-col-fill"
  >
    <%= render partial: "cbv/synchronizations/indicator", locals: { label: t(".income"), status: pinwheel_account.synchronization_status("income") } %>
  </div>
  <div
    class="tablet:grid-col-2 grid-col-fill"
  >
    <%= render partial: "cbv/synchronizations/indicator", locals: { label: t(".employment"), status: pinwheel_account.synchronization_status("employment") } %>
  </div>
  <div
    class="tablet:grid-col-2 grid-col-fill"
  >
    <%= render partial: "cbv/synchronizations/indicator", locals: { label: t(".paystubs"), status: pinwheel_account.synchronization_status("paystubs") } %>
  </div>
  <div
    class="tablet:grid-col-2 grid-col-fill"
  >
    <%= render partial: "cbv/synchronizations/indicator", locals: { label: t(".identity"), status: pinwheel_account.synchronization_status("identity") } %>
  </div>
</div>
