<%= turbo_frame_tag "synchronization" do %>
  <h1>
    <% case @flow %>
    <% when ActivityFlow %>
      <%= t("cbv.synchronizations.show.activity_flow.header") %>
    <% else %>
      <%= t("cbv.synchronizations.show.header") %>
    <% end %>
  </h1>

  <p>
    <%= t(".fetching_payroll_description") %>
  </p>
    <div class="grid-container">
    <% if @payroll_account.present? %>
      <%= render partial: "cbv/synchronizations/indicators", locals: { payroll_account: @payroll_account } %>
    <% end %>
  </div>
<% end %>
