<% content_for :title, t(".header") %>
<div data-controller="cbv-synchronizations">
  <h1>
    <%= t(".header") %>
  </h1>
  <p class="usa-prose">
    <%= t(".fetching_payroll_description") %>
  </p>
  <%= form_with url: next_path, method: :get, class: "display-none", data: { 'cbv-synchronizations-target': "form" } do |f| %>
    <input type="hidden" name="user[account_id]" value="<%= params[:user][:account_id] %>" data-cbv-synchronizations-target="userAccountId">
  <% end %>
  <div
    class="grid-container"
  >
    <div class="grid-row">
      <div
        class="tablet:grid-col-2 grid-col-fill"
        data-cbv-synchronizations-target="incomeJob"
      >
        <%= render partial: "cbv/synchronizations/indicator", locals: { completed: job_completed?("income") } %>
        <h4 class="margin-top-2px"><%= t(".jobs.income") %></h4>
      </div>
      <div
        class="tablet:grid-col-2 grid-col-fill"
        data-cbv-synchronizations-target="employmentJob"
      >
        <%= render partial: "cbv/synchronizations/indicator", locals: { completed: job_completed?("employment") } %>
        <h4 class="margin-top-2px"><%= t(".jobs.employment") %></h4>
      </div>
      <div
        class="tablet:grid-col-2 grid-col-fill"
        data-cbv-synchronizations-target="paystubsJob"
      >
        <%= render partial: "cbv/synchronizations/indicator", locals: { completed: job_completed?("paystubs") } %>
        <h4 class="margin-top-2px"><%= t(".jobs.paystubs") %></h4>
      </div>
      <div
        class="tablet:grid-col-2 grid-col-fill"
        data-cbv-synchronizations-target="identityJob"
      >
        <%= render partial: "cbv/synchronizations/indicator", locals: { completed: job_completed?("identity") } %>
        <h4 class="margin-top-2px"><%= t(".jobs.identity") %></h4>
      </div>
    </div>
  </div>
</div>
