<% content_for :title, t(".header") %>
<div data-controller="cbv-synchronizations">
  <h1>
    <%= t(".header") %>
  </h1>
  <div class="usa-prose">
    <p>
      <%= t(".fetching_payroll_description") %>
    </p>
  </div>
  <%= form_with url: next_path, method: :get, class: "display-none", data: { 'cbv-synchronizations-target': "form" } do |f| %>
    <input type="hidden" name="user[account_id]" value="<%= params[:user][:account_id] %>" data-cbv-synchronizations-target="userAccountId">
  <% end %>
  <div
    class="usa-step-indicator usa-step-indicator--centered"
    aria-label="progress"
  >
    <ol class="usa-step-indicator__segments">
      <li
        class="usa-step-indicator__segment usa-step-indicator__segment--complete"
        data-cbv-synchronizations-target="employmentJob"
      >
        <%= render partial: "cbv/synchronizations/indicator", locals: { in_progress: job_completed?("employment") } %>
        <%= t(".jobs.employment") %>
      </li>
      <li
        class="usa-step-indicator__segment usa-step-indicator__segment--complete"
        data-cbv-synchronizations-target="identityJob"
      >
        <%= render partial: "cbv/synchronizations/indicator", locals: { in_progress: job_completed?("identity") } %>
        <%= t(".jobs.identity") %>
      </li>
      <li
        class="usa-step-indicator__segment usa-step-indicator__segment--current"
        data-cbv-synchronizations-target="paystubsJob"
      >
        <%= render partial: "cbv/synchronizations/indicator", locals: { in_progress: job_completed?("paystubs") } %>
        <%= t(".jobs.paystubs") %>
      </li>
      <li
        class="usa-step-indicator__segment"
        data-cbv-synchronizations-target="incomeJob"
      >
        <%= render partial: "cbv/synchronizations/indicator", locals: { in_progress: job_completed?("income") } %>
        <%= t(".jobs.income") %>
      </li>
    </ol>
  </div>
</div>
