<div class="synchronizations-indicator">
  <% case status %>
  <% when :in_progress %>
    <svg class="synchronizations-indicator__spinner rotate usa-icon usa-icon--size-5 border-base-light" aria-hidden="true" focusable="false" role="img">
      <use
        xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#autorenew") %>"
      ></use>
    </svg>
    <span class="margin-top-05 text-thin"><%= label %></span>
  <% when :succeeded, :completed %>
    <svg class="synchronizations-indicator__spinner usa-icon usa-icon--size-5 text-white bg-primary border-primary" aria-hidden="true" focusable="false" role="img">
      <use
        xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#check") %>"
      ></use>
    </svg>
    <span class="margin-top-05 text-bold text-primary"><%= label %></span>
  <% when :failed %>
    <svg class="synchronizations-indicator__spinner usa-icon usa-icon--size-5 bg-base-darker text-white border-base-darker" aria-hidden="true" focusable="false" role="img">
      <use
        xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#priority_high") %>"
      ></use>
    </svg>
    <span class="margin-top-05 text-bold"><%= label %></span>
  <% end %>
</div>
