<% enrollment_terms = @education_activity.nsc_enrollment_terms.order(:term_begin, :term_end, :school_name) %>
<% has_multiple_enrollments = enrollment_terms.length > 1 %>
<% less_than_half_time_terms = enrollment_terms.select(&:enrollment_less_than_half_time?) %>

<% enrollment_terms.each_with_index do |enrollment_term, index| %>
  <h2>
    <% if has_multiple_enrollments %>
      <%= t("activities.education.review.enrollment_information_numbered", number: index + 1) %>
    <% else %>
      <%= t("activities.education.review.enrollment_information") %>
    <% end %>
  </h2>

  <%= render(EnrollmentTermTableComponent.new(nsc_enrollment_term: enrollment_term)) %>

  <% next unless enrollment_term.enrollment_less_than_half_time? %>

  <h2><%= t("activities.education.review.credit_hours_section") %></h2>
  <%= render(TableComponent.new(is_responsive: true, class_names: "activity-review-hours-table")) do |table| %>
    <%= table.with_row(class_names: "subheader-row") do |row| %>
      <%= row.with_data_cell(is_header: true, colspan: 2) do %>
        <div class="display-flex flex-justify">
          <span>
            <%= format_date(enrollment_term.term_begin) %>
            &dash;
            <%= format_date(enrollment_term.term_end) %>
          </span>
          <%= link_to t("activities.education.review.edit"),
                review_activities_flow_education_path(id: @education_activity, from_edit: params[:from_edit].presence),
                class: "usa-link" %>
        </div>
      <% end %>
    <% end %>
    <%= table.with_row do |row| %>
      <%= row.with_data_cell(is_header: true) do %>
        <%= t("activities.education.review.credit_hours") %>
      <% end %>
      <%= row.with_data_cell do %>
        <%= @education_activity.review_term_credit_hours(enrollment_term) %>
      <% end %>
    <% end %>
    <%= table.with_row do |row| %>
      <%= row.with_data_cell(is_header: true) do %>
        <%= t("activities.education.review.community_engagement_hours") %>
      <% end %>
      <%= row.with_data_cell do %>
        <%= @education_activity.community_engagement_hours(@education_activity.review_term_credit_hours(enrollment_term)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if less_than_half_time_terms.any? %>
  <p>
    <strong><%= t("activities.education.review.ce_explainer_title") %></strong>
  </p>
  <p>
    <%= t("activities.education.review.ce_explainer_body") %>
  </p>
<% end %>
