<% enrollment_terms = @education_activity.nsc_enrollment_terms.order(:term_begin, :term_end, :school_name) %>
<% has_multiple_enrollments = enrollment_terms.length > 1 %>
<% less_than_half_time_terms = enrollment_terms.select(&:less_than_half_time?) %>

<% enrollment_terms.each_with_index do |enrollment_term, index| %>
  <h2>
    <% if has_multiple_enrollments %>
      <%= t("activities.education.review.enrollment_information_numbered", number: index + 1) %>
    <% else %>
      <%= t("activities.education.review.enrollment_information") %>
    <% end %>
  </h2>

  <%= render(EnrollmentTermTableComponent.new(nsc_enrollment_term: enrollment_term)) %>

  <% next unless enrollment_term.less_than_half_time? %>

  <h3><%= t("activities.education.review.credit_hours_section") %></h3>
  <%= render(TableComponent.new(class_names: "activity-review-hours-table")) do |table| %>
    <%= table.with_row do |row| %>
      <%= row.with_data_cell(is_header: true, colspan: 2) do %>
        <div class="display-flex flex-justify">
          <span>
            <%= format_date(enrollment_term.term_begin) %>
            &dash;
            <%= format_date(enrollment_term.term_end) %>
          </span>
          <% term_index = less_than_half_time_terms.index { |term| term.id == enrollment_term.id } || 0 %>
          <%= link_to t("activities.education.review.edit"),
                edit_activities_flow_education_term_credit_hour_path(
                  education_id: @education_activity,
                  id: term_index,
                  from_review: 1,
                  from_edit: params[:from_edit].presence
                ),
                class: "usa-link" %>
        </div>
      <% end %>
    <% end %>
    <% term_index = less_than_half_time_terms.index { |term| term.id == enrollment_term.id } || 0 %>
    <% edit_path = edit_activities_flow_education_term_credit_hour_path(
          education_id: @education_activity,
          id: term_index,
          from_review: 1,
          from_edit: params[:from_edit].presence
        ) %>
    <%= table.with_row do |row| %>
      <%= row.with_data_cell(data_label: t("activities.education.review.term"), is_header: true) do %>
        <%= format_date(enrollment_term.term_begin) %>
        &dash;
        <%= format_date(enrollment_term.term_end) %>
        <%= link_to t("activities.education.review.edit"), edit_path, class: "usa-link mobile-edit-link" %>
      <% end %>
      <%= row.with_data_cell(data_label: t("components.enrollment_term_table_component.enrollment_status")) do %>
        <% enrollment_status_key = "components.enrollment_term_table_component.status.#{enrollment_term.enrollment_status}" %>
        <%= I18n.exists?(enrollment_status_key) ? t(enrollment_status_key) : t("shared.not_applicable") %>
      <% end %>
      <%= row.with_data_cell(data_label: t("activities.education.review.credit_hours"))
             .with_content(@education_activity.review_term_credit_hours(enrollment_term)) %>
      <%= row.with_data_cell(data_label: t("activities.education.review.community_engagement_hours"))
             .with_content(@education_activity.community_engagement_hours(@education_activity.review_term_credit_hours(enrollment_term))) %>
      <%= row.with_data_cell(class_names: "desktop-edit-link") do %>
        <%= link_to t("activities.education.review.edit"), edit_path, class: "usa-link" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if less_than_half_time_terms.any? %>
  <p>
    <strong><%= t("activities.education.review.ce_explainer_title") %></strong>
  </p>
  <p>
    <%= t("activities.education.review.ce_explainer_body") %>
  </p>
<% end %>
