<% content_for :title, t(".header") %>

<h1>
  <%= t(".header") %>
</h1>

<% if @education_activity.sync_no_enrollments? %>
  <div class="usa-alert usa-alert--warning">
    <div class="usa-alert__body">
      <h2 class="usa-alert__heading">
        <%= t(".no_records_found.heading") %>
      </h2>
      <p class="usa-alert__text">
      <%= t(".no_records_found.message") %>
      </p>
    </div>
  </div>

  <div class="margin-top-4">
    <%= link_to t(".no_records_found.return_button"), activities_flow_root_path, class: "usa-button" %>
  </div>
<% end %>

<% if @education_activity.sync_succeeded? %>
  <p>
    <%= t(".description_html", reporting_window: @flow.reporting_window_display, agency_acronym: agency_translation("shared.agency_acronym")) %>
  </p>

  <% has_multiple_enrollments = @education_activity.nsc_enrollment_terms.size > 1 %>
  <% unless has_multiple_enrollments %>
    <h2>
      <%= t(".enrollment_information") %>
    </h2>
  <% end %>

  <% @education_activity.nsc_enrollment_terms.each do |enrollment| %>
    <% if has_multiple_enrollments %>
      <h2>
        <%= t(".enrollment_information_multiple", school_name: enrollment.school_name.titlecase) %>
      </h2>
    <% end %>

    <%= render(TableComponent.new(is_responsive: true)) do |table| %>
      <%= table.with_row do |row| %>
        <%= row.with_data_cell(is_header: true) do %>
          <%= t(".student_name_label") %>
        <% end %>
        <%= row.with_data_cell do %>
          <%= enrollment.first_name %>
          <%= enrollment.middle_name %>
          <%= enrollment.last_name %>
        <% end %>
      <% end %>

      <%= table.with_row do |row| %>
        <%= row.with_data_cell(is_header: true) do %>
          <%= t(".school_or_program") %>
        <% end %>
        <%= row.with_data_cell do %>
          <%= enrollment.school_name.titlecase %>
        <% end %>
      <% end %>

      <%= table.with_row do |row| %>
        <%= row.with_data_cell(is_header: true) do %>
          <%= t(".enrollment_current.label") %>
        <% end %>
        <%= row.with_data_cell do %>
          <%= enrollment_current_text(!enrollment.enrollment_unknown?) %>
        <% end %>
      <% end %>

      <%= table.with_row do |row| %>
        <%= row.with_data_cell(is_header: true) do %>
          <%= t(".enrollment_term") %>
        <% end %>
        <%= row.with_data_cell do %>
          <%= format_date(enrollment.term_begin) %>
          &dash;
          <%= format_date(enrollment.term_end) %>
        <% end %>
      <% end %>

      <%= table.with_row do |row| %>
        <%= row.with_data_cell(is_header: true) do %>
          <%= t(".enrollment_status") %>
        <% end %>
        <%= row.with_data_cell do %>
          <%= enrollment_status_text(enrollment.enrollment_status) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="usa-form-group margin-top-5">
    <%= form_with model: @education_activity, url: activities_flow_education_path(id: @education_activity.id), class: "usa-form usa-form--large" do |form| %>
      <h2><%= t(".additional_information_header") %></h2>
      <%= form.label :additional_comments, t(".additional_information_label", agency_acronym: agency_translation("shared.agency_acronym")), class: "usa-label" %>
      <%= form.text_area :additional_comments, class: "usa-textarea", rows: 5 %>

      <%= form.submit t(".continue"), class: "usa-button usa-button--primary" %>
    <% end %>
  </div>
<% end %>
