<% content_for :title, t(".header") %>

<h1>
  <%= t(".header") %>
</h1>

<p>
  <%= t(".description") %>
</p>

<ol>
  <li><%= t(".option_enter_manually") %></li>
  <li><%= t(".option_retry") %></li>
</ol>

<nav class="margin-top-5">
  <%= link_to t(".enter_manually_button"), new_activities_flow_education_path, class: "usa-button" %>
  <div class="margin-top-2 mobile-text-center">
    <%= link_to t(".retry_button"), verify_activities_flow_education_index_path, class: "usa-button usa-button--unstyled" %>
  </div>
</nav>
