<% content_for :title, t(".header") %>

<div
    id="education-index-container">
    <h1>
        <%= t(".header") %>
    </h1>
    <p>
        <%= t(".fetching_education_description") %>
    </p>

    <turbo-stream-source src="<%= activities_flow_education_stream_path %>">

    </turbo-stream-source>

    <div class="grid-row" dom_id="<%= dom_id current_identity %>">
        <div class="desktop:grid-col-6 tablet:grid-col-fill">
            <%= render(SynchronizationIndicatorComponent.new(name: "school", status: :in_progress)) do %>
                <%= t(".student_info") %>
            <% end %>
        </div>
    </div>

</div>
<script>
const MIN_DELAY_MS = 2000;

function wait(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

function waitForSSE() {
  return new Promise((resolve, reject) => {
    const source = new EventSource("/activities/education/stream");

    source.addEventListener("education_result", (event) => {
        const data = JSON.parse(event.data);
        if (data.status === "succeeded") {
            source.close();
            resolve(data.message);
        }
    });

    source.onerror = (err) => {
      source.close();
      console.log("Connection lost");
      reject(err);
    };
  });
}

async function delayedResponse() {
  try {
    const [, url] = await Promise.all([
      wait(MIN_DELAY_MS),
      waitForSSE()
    ]);

    console.log(`Navigating to ${url}`);
    window.location.href = url;
  } catch (e) {
    console.log("Error during SSE processing", e);
  }
}

delayedResponse();
</script>
