<p><%= t("help.show.password.intro") %></p>
<ol>
  <li><%= t("cbv.help.show.password.step1.title") %>
    <ul>
      <li><%= t("cbv.help.show.password.step1.reset_link") %></li>
      <li><%= t("cbv.help.show.password.step1.follow_instructions") %></li>
    </ul>
  </li>
  <li><%= t("cbv.help.show.password.step2.title") %>
    <ul>
      <li><%= t("cbv.help.show.password.step2.contact_hr") %></li>
    </ul>
  </li>
</ol>
