<p><%= t("help.show.username.intro") %></p>
<ol>
  <li><%= t("help.show.username.step1.title") %>
    <ul>
      <li><%= t("help.show.username.step1.help_link") %></li>
      <li><%= t("help.show.username.step1.follow_instructions") %></li>
      <li><%= t("help.show.username.step1.verify_identity") %></li>
    </ul>
  </li>
  <li><%= t("help.show.username.step2.title") %>
    <ul>
      <li><%= t("help.show.username.step2.search_emails") %></li>
      <li><%= t("help.show.username.step2.search_keywords") %></li>
    </ul>
  </li>
  <li><%= t("help.show.username.step3.title") %>
    <ul>
      <li><%= t("help.show.username.step3.contact_hr") %></li>
    </ul>
  </li>
</ol>
