<%# Help Modal - Select option view %>
<div class="padding-2">
  <h2 class="margin-top-0"><%= t("help.index.title") %></h2>
  <div class="usa-prose">
    <p><%= t("help.index.select_prompt") %></p>

    <%= link_to cbv_flow_help_path("username", locale: I18n.locale), class: "usa-button margin-bottom-1 height-5 text-left display-block" do %>
      <%= t("help.index.username") %>
    <% end %>

    <%= link_to cbv_flow_help_path("password", locale: I18n.locale), class: "usa-button margin-bottom-1 height-5 text-left display-block" do %>
      <%= t("help.index.password") %>
    <% end %>

    <%= link_to cbv_flow_help_path("company-id", locale: I18n.locale), class: "usa-button margin-bottom-1 height-5 text-left display-block" do %>
      <%= t("help.index.company_id") %>
    <% end %>

    <%= link_to cbv_flow_help_path("employer", locale: I18n.locale), class: "usa-button margin-bottom-1 height-5 text-left display-block" do %>
      <%= t("help.index.employer") %>
    <% end %>

    <%= link_to cbv_flow_help_path("provider", locale: I18n.locale), class: "usa-button margin-bottom-1 height-5 text-left display-block" do %>
      <%= t("help.index.provider") %>
    <% end %>

    <%= link_to cbv_flow_help_path("credentials", locale: I18n.locale), class: "usa-button margin-bottom-1 height-5 text-left display-block" do %>
      <%= t("help.index.credentials") %>
    <% end %>

    <%= link_to cbv_flow_help_path("feedback", locale: I18n.locale), class: "usa-button margin-bottom-1 height-5 text-left display-block" do %>
      <%= t("help.index.feedback") %>
    <% end %>
  </div>
</div>

