<h1><%= t("session_timeout.page.title") %></h1>
<p><%= t("session_timeout.page.description") %></p>
<div class="timeout-notice usa-summary-box grid-container margin-bottom-1em"
     aria-labelledby="session-timeout-page-heading"
     aria-describedby="session-timeout-page-description">
  <div class="grid-row usa-summary-box__body">
    <div class="grid-col-auto display-flex flex-justify-left flex-align-center margin-right-1em">
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#link") %>"></use>
      </svg>
    </div>
    <div class="grid-col-fill">
      <%= t("session_timeout.page.info_box", agency_full_name: agency_translation("shared.agency_full_name")) %>
    </div>
  </div>
</div>
<p data-controller="session-timeout" data-sessions-target="source" class="margin-top-8"><%= t("session_timeout.page.start_over_html", link: cbv_flow_new_path(client_agency_id: @current_agency.id), action: "click->session-timeout#trackEvent") %></p>
