<% complete_months = monthly_calculation_results.count(&:meets_requirements) %>
<% total_months = monthly_calculation_results.count %>
<% is_complete = complete_months == total_months %>

<div class="activity-flow-progress-indicator">
  <h2>
    <% if is_complete %>
      <%= t(".title_complete") %>
    <% elsif multi_month? %>
      <%= t(".title_multi_month") %>
    <% else %>
      <% first_month = monthly_calculation_results.first.month %>
      <%= t(".title", month: l(first_month, format: :month)) %>
    <% end %>
  </h2>

  <p>
    <% if is_complete %>
      <%= t(".description_complete", agency_full_name: agency_full_name) %>
    <% else %>
      <%= t(".description") %>
    <% end %>
  </p>

  <% if multi_month? %>
    <p class="font-heading-md">
      <% if is_complete %>
        <svg class="usa-icon activity-flow-progress-indicator__success-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#check_circle") %>"></use>
        </svg>
      <% end %>
      <%= t(".months_completed_html", complete: complete_months, total: total_months) %>
    </p>
  <% end %>

  <% monthly_calculation_results.each do |monthly_result| %>
    <div class="activity-flow-progress-indicator__progress-bar
                <% if monthly_result.meets_requirements %>activity-flow-progress-indicator__progress-bar--complete<% end %>"
        data-percent="<%= percent_complete(monthly_result) %>">
    </div>

    <p class="activity-flow-progress-indicator__progress-amount-container">
      <span>
        <% if multi_month? %>
          <% if monthly_result.meets_requirements %>
            <svg class="usa-icon activity-flow-progress-indicator__success-icon" aria-hidden="true" focusable="false" role="img">
              <use xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#check_circle") %>"></use>
            </svg>
          <% end %>
          <%= l(monthly_result.month, format: :month) %>
        <% end %>
      </span>

      <span>
        <span class="activity-flow-progress-indicator__progress-amount
                    <% if monthly_result.meets_requirements %>activity-flow-progress-indicator__progress-amount--complete<% end %>">
          <% if monthly_result.meets_requirements && !multi_month? %>
            <svg class="usa-icon activity-flow-progress-indicator__success-icon" aria-hidden="true" focusable="false" role="img">
              <use xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#check_circle") %>"></use>
            </svg>
          <% end %>

          <%= format_hours(monthly_result.total_hours) %>
        </span>
        /
        <%= completion_threshold %> <%= t(".hours") %>
      </span>
    </p>
  <% end %>
</div>
