<% content_for :title, t("activities.hub.title") %>

<h1>
  <%= t("activities.hub.title") %>
</h1>
<p>
  <%= t("activities.hub.description", agency_name: agency_translation("shared.agency_full_name"), reporting_window: @flow.reporting_window_display) %>
</p>

<% if display_progress_indicator?(progress_calculator) %>
  <%= render(ActivityFlowProgressIndicator.from_calculator(progress_calculator)) %>

  <hr class="border-gray-30 border-top-0 activity-hub-divider">
<% end %>

<% if activity_type_enabled?(:employment) %>
  <% employment_card_data = employment_cards(@employment_payroll_accounts || [], @persisted_report, @flow.reporting_window_range) %>
  <%= render "activities/activities/activity_section",
        activity_type: "employment",
        section_title: t("activities.employment.title"),
        add_path: activities_flow_income_employer_search_path,
        empty_message: t("activities.hub.empty.employment"),
        cards: employment_card_data do %>
    <% employment_card_data.each do |card_data| %>
      <%= render(Uswds::Card.new(heading_text: card_data[:name], heading_level: 3, class: "activity-hub-card")) do |card| %>
        <% card.with_body do %>
          <% card_data[:months].each do |month_data| %>
            <div class="margin-bottom-2">
              <p class="margin-y-0"><strong><%= I18n.l(month_data[:month], format: :month_year) %></strong></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.gross_income", amount: number_to_currency(month_data[:gross_earnings] / 100.0)) %></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.hours", count: month_data[:hours]) %></p>
            </div>
          <% end %>
        <% end %>
        <% card.with_footer do %>
          <%= link_to t("activities.hub.edit"), activities_flow_income_payment_details_path(user: { account_id: card_data[:payroll_account].aggregator_account_id }), class: "usa-link" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if activity_type_enabled?(:education) %>
  <%# Selecting educations with nsc_enrollment_terms filters out NSC responses where no data was found. %>
  <% education_card_data = education_cards(@education_activities_with_terms || [], progress_calculator.reporting_months) %>
  <%= render "activities/activities/activity_section",
        activity_type: "education",
        section_title: t("activities.education.title"),
        add_path: new_activities_flow_education_path,
        empty_message: t("activities.hub.empty.education"),
        cards: education_card_data do %>
    <% education_card_data.each do |card_data| %>
      <%= render(Uswds::Card.new(heading_text: card_data[:name], heading_level: 3, class: "activity-hub-card")) do |card| %>
        <% card.with_body do %>
          <% card_data[:months].each do |month_data| %>
            <div class="margin-bottom-2">
              <p class="margin-y-0"><strong><%= I18n.l(month_data[:month], format: :month_year) %></strong></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.enrollment_status", status: month_data[:enrollment_status]) %></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.credit_hours", amount: month_data[:credit_hours]) %></p>
            </div>
          <% end %>
        <% end %>
        <% card.with_footer do %>
          <%= link_to t("activities.hub.edit"), edit_activities_flow_education_path(id: card_data[:activity].id), class: "usa-link" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if activity_type_enabled?(:community_service) %>
  <% community_service_card_data = self_attestation_cards(@community_service_activities, name_field: :organization_name) %>
  <%= render "activities/activities/activity_section",
        activity_type: "community_service",
        section_title: t("activities.community_service.title"),
        add_path: new_activities_flow_volunteering_path,
        empty_message: t("activities.hub.empty.community_service"),
        cards: community_service_card_data do %>
    <% community_service_card_data.each do |card_data| %>
      <%= render(Uswds::Card.new(heading_text: card_data[:name], heading_level: 3, class: "activity-hub-card")) do |card| %>
        <% card.with_body do %>
          <% card_data[:months].each do |month_data| %>
            <div class="margin-bottom-2">
              <p class="margin-y-0"><strong><%= I18n.l(month_data[:month], format: :month_year) %></strong></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.hours", count: month_data[:hours]) %></p>
            </div>
          <% end %>
        <% end %>
        <% card.with_footer do %>
          <%= link_to t("activities.hub.edit"), edit_activities_flow_volunteering_path(id: card_data[:activity].id), class: "usa-link" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if activity_type_enabled?(:work_programs) %>
  <% work_programs_card_data = self_attestation_cards(@work_programs_activities, name_field: :program_name) %>
  <%= render "activities/activities/activity_section",
        activity_type: "work_programs",
        section_title: t("activities.work_programs.title"),
        add_path: new_activities_flow_job_training_path,
        empty_message: t("activities.hub.empty.work_programs"),
        cards: work_programs_card_data do %>
    <% work_programs_card_data.each do |card_data| %>
      <%= render(Uswds::Card.new(heading_text: card_data[:name], heading_level: 3, class: "activity-hub-card")) do |card| %>
        <% card.with_body do %>
          <% card_data[:months].each do |month_data| %>
            <div class="margin-bottom-2">
              <p class="margin-y-0"><strong><%= I18n.l(month_data[:month], format: :month_year) %></strong></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.hours", count: month_data[:hours]) %></p>
            </div>
          <% end %>
        <% end %>
        <% card.with_footer do %>
          <%= link_to t("activities.hub.edit"), edit_activities_flow_job_training_path(id: card_data[:activity].id), class: "usa-link" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @flow.any_activities_added? %>
  <%= button_to t("activities.hub.review_and_submit"), next_path, class: "btn btn-primary usa-button margin-top-4", method: :get %>
<% end %>
