<% content_for :title, t("activities.hub.title") %>

<h1>
  <%= t("activities.hub.title") %>
</h1>
<p class="measure-none">
  <%= t("activities.hub.intro", state: current_agency&.agency_name || "Your state", reporting_window: @flow.reporting_window_display) %>
</p>

<% if display_progress_indicator?(progress_calculator) %>
  <%= render(ActivityFlowProgressIndicator.from_calculator(progress_calculator)) %>

  <hr class="border-gray-30 border-top-0">
<% end %>

<div>
  <% first_section = true %>
  <% if activity_type_enabled?(:income) %>
    <%= render "activities/activities/activity_section",
          section_title: t("activities.income.title"),
          empty_message: t("activities.hub.empty.employment"),
          add_path: activities_flow_income_employer_search_path,
          add_button_text: t("activities.hub.add"),
          has_activities: @flow.payroll_accounts.any?,
          testid: "activity-section-income",
          is_first_section: first_section do %>
      <p>
        <%= t("activities.hub.count", count: @flow.payroll_accounts.size) %>
      </p>
    <% end %>
    <% first_section = false %>
  <% end %>

  <% if activity_type_enabled?(:education) %>
    <%= render "activities/activities/activity_section",
          section_title: t("activities.education.title"),
          empty_message: t("activities.hub.empty.education"),
          add_path: new_activities_flow_education_path,
          add_button_text: t("activities.hub.add"),
          has_activities: @education_activities_with_terms.exists?,
          testid: "activity-section-education",
          is_first_section: first_section do %>
      <% @education_activities_with_terms.each do |activity| %>
        <% activity.nsc_enrollment_terms.each do |enrollment_term| %>
          <%= render(EnrollmentTermTableComponent.new(nsc_enrollment_term: enrollment_term)) %>
        <% end %>
      <% end %>
    <% end %>
    <% first_section = false %>
  <% end %>

  <% if activity_type_enabled?(:volunteering) %>
    <%= render "activities/activities/activity_section",
          section_title: t("activities.hub.section_title.volunteering"),
          empty_message: t("activities.hub.empty.community_service"),
          add_path: new_activities_flow_volunteering_path,
          add_button_text: t("activities.hub.add"),
          has_activities: @volunteering_activities.any?,
          testid: "activity-section-volunteering",
          is_first_section: first_section do %>
      <%= render TableComponent.new do |t| %>
        <% @volunteering_activities.each do |activity| %>
          <%= t.with_row do |r| %>
            <%= r.with_data_cell do %>
              <%= activity.organization_name %>
            <% end %>
            <%= r.with_data_cell do %>
              <%= activity.hours %>
            <% end %>
            <%= r.with_data_cell do %>
              <%= activity.date %>
            <% end %>
            <%= r.with_data_cell do %>
              <%= link_to t("activities.hub.edit"), edit_activities_flow_volunteering_path(id: activity.id), class: "usa-link" %>
              <%= button_to t("activities.hub.delete"), activities_flow_volunteering_path(id: activity.id), method: :delete, class: "usa-button usa-button--unstyled", form: { data: { turbo_confirm: t("activities.hub.delete_confirm") } } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% first_section = false %>
  <% end %>

  <% if activity_type_enabled?(:job_training) %>
    <%= render "activities/activities/activity_section",
          section_title: t("activities.hub.section_title.job_training"),
          empty_message: t("activities.hub.empty.work_programs"),
          add_path: new_activities_flow_job_training_path,
          add_button_text: t("activities.hub.add"),
          has_activities: @job_training_activities.any?,
          testid: "activity-section-job-training",
          is_first_section: first_section do %>
      <%= render TableComponent.new do |t| %>
        <% @job_training_activities.each do |activity| %>
          <%= t.with_row do |r| %>
            <%= r.with_data_cell do %>
              <%= activity.program_name %>
            <% end %>
            <%= r.with_data_cell do %>
              <%= activity.organization_address %>
            <% end %>
            <%= r.with_data_cell do %>
              <%= activity.hours %>
            <% end %>
            <%= r.with_data_cell do %>
              <%= activity.date %>
            <% end %>
            <%= r.with_data_cell do %>
              <%= link_to t("activities.hub.edit"), edit_activities_flow_job_training_path(id: activity.id), class: "usa-link" %>
              <%= button_to t("activities.hub.delete"), activities_flow_job_training_path(id: activity.id), method: :delete, class: "usa-button usa-button--unstyled", form: { data: { turbo_confirm: t("activities.hub.delete_confirm") } } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if any_activities_added?(@flow) %>
  <%= button_to t("activities.hub.continue"), next_path, class: "btn btn-primary usa-button margin-top-4", method: :get %>
<% end %>
