<% content_for :title, t("activities.hub.title") %>

<h1>
  <%= t("activities.hub.title") %>
</h1>
<p>
  <%= t("activities.hub.description", agency_name: agency_translation("shared.agency_full_name"), reporting_window: @flow.reporting_window_display) %>
</p>

<% if display_progress_indicator?(progress_calculator) %>
  <%= render(ActivityFlowProgressIndicator.from_calculator(progress_calculator)) %>

  <hr class="border-gray-30 border-top-0 activity-hub-divider">
<% end %>

<% if activity_type_enabled?(:employment) %>
  <section class="margin-top-4 margin-bottom-5" data-activity-type="employment">
    <div class="display-flex flex-align-center flex-justify activity-hub-section-header">
      <h2 class="margin-y-0"><%= t("activities.employment.title") %></h2>
      <%= button_to activities_flow_income_employer_search_path, class: "usa-button usa-button--outline", method: :get do %>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#add_circle_outline") %>"></use>
        </svg>
        <%= t("activities.hub.add") %>
      <% end %>
    </div>

    <% employment_cards(@employment_activities || [], @aggregator_report, @flow.reporting_window_range).each do |card_data| %>
      <%= render(Uswds::Card.new(heading_text: card_data[:name], heading_level: 3, class: "activity-hub-card")) do |card| %>
        <% card.with_body do %>
          <% card_data[:months].each do |month_data| %>
            <div class="margin-bottom-2">
              <p class="margin-y-0"><strong><%= I18n.l(month_data[:month], format: :month_year) %></strong></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.gross_income", amount: number_to_currency(month_data[:gross_earnings] / 100.0)) %></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.hours", count: month_data[:hours]) %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </section>
<% end %>

<% if activity_type_enabled?(:education) %>
  <section class="margin-top-4 margin-bottom-5" data-activity-type="education">
    <div class="display-flex flex-align-center flex-justify activity-hub-section-header">
      <h2 class="margin-y-0"><%= t("activities.education.title") %></h2>
      <%= button_to new_activities_flow_education_path, class: "usa-button usa-button--outline", method: :get do %>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#add_circle_outline") %>"></use>
        </svg>
        <%= t("activities.hub.add") %>
      <% end %>
    </div>

    <% education_cards(@education_activities, progress_calculator.reporting_months).each do |card_data| %>
      <%= render(Uswds::Card.new(heading_text: card_data[:name], heading_level: 3, class: "activity-hub-card")) do |card| %>
        <% card.with_body do %>
          <% card_data[:months].each do |month_data| %>
            <div class="margin-bottom-2">
              <p class="margin-y-0"><strong><%= I18n.l(month_data[:month], format: :month_year) %></strong></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.enrollment_status", status: month_data[:enrollment_status]) %></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.credit_hours", amount: month_data[:credit_hours]) %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </section>
<% end %>

<% if activity_type_enabled?(:community_service) %>
  <section class="margin-top-4 margin-bottom-5" data-activity-type="community_service">
    <div class="display-flex flex-align-center flex-justify activity-hub-section-header">
      <h2 class="margin-y-0"><%= t("activities.community_service.title") %></h2>
      <%= button_to new_activities_flow_volunteering_path, class: "usa-button usa-button--outline", method: :get do %>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#add_circle_outline") %>"></use>
        </svg>
        <%= t("activities.hub.add") %>
      <% end %>
    </div>

    <% self_attestation_cards(@community_service_activities, name_field: :organization_name).each do |card_data| %>
      <%= render(Uswds::Card.new(heading_text: card_data[:name], heading_level: 3, class: "activity-hub-card")) do |card| %>
        <% card.with_body do %>
          <% card_data[:months].each do |month_data| %>
            <div class="margin-bottom-2">
              <p class="margin-y-0"><strong><%= I18n.l(month_data[:month], format: :month_year) %></strong></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.hours", count: month_data[:hours]) %></p>
            </div>
          <% end %>
        <% end %>
        <% card.with_footer do %>
          <%= link_to t("activities.hub.edit"), edit_activities_flow_volunteering_path(id: card_data[:activity].id), class: "usa-link" %>
        <% end %>
      <% end %>
    <% end %>
  </section>
<% end %>

<% if activity_type_enabled?(:work_programs) %>
  <section class="margin-top-4 margin-bottom-5" data-activity-type="work_programs">
    <div class="display-flex flex-align-center flex-justify activity-hub-section-header">
      <h2 class="margin-y-0"><%= t("activities.work_programs.title") %></h2>
      <%= button_to new_activities_flow_job_training_path, class: "usa-button usa-button--outline", method: :get do %>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#add_circle_outline") %>"></use>
        </svg>
        <%= t("activities.hub.add") %>
      <% end %>
    </div>

    <% self_attestation_cards(@work_programs_activities, name_field: :program_name).each do |card_data| %>
      <%= render(Uswds::Card.new(heading_text: card_data[:name], heading_level: 3, class: "activity-hub-card")) do |card| %>
        <% card.with_body do %>
          <% card_data[:months].each do |month_data| %>
            <div class="margin-bottom-2">
              <p class="margin-y-0"><strong><%= I18n.l(month_data[:month], format: :month_year) %></strong></p>
              <p class="margin-y-0"><%= t("activities.hub.cards.hours", count: month_data[:hours]) %></p>
            </div>
          <% end %>
        <% end %>
        <% card.with_footer do %>
          <%= link_to t("activities.hub.edit"), edit_activities_flow_job_training_path(id: card_data[:activity].id), class: "usa-link" %>
        <% end %>
      <% end %>
    <% end %>
  </section>
<% end %>

<%= button_to t("activities.hub.review_and_submit"), next_path, class: "btn btn-primary usa-button margin-top-4", method: :get %>
