<h1><%= t("activities.hub.title") %></h1>
<h2><%= t("activities.volunteering.title") %></h2>
<%= render TableComponent.new do |t| %>
  <%= @activities.each do |a| %>
    <%= t.with_row a.organization_name, a.hours, a.date %>
  <% end %>
<% end %>
<%= button_to t("activities.volunteering.add"), new_activities_flow_volunteering_path, class: "btn btn-primary usa-button margin-y-5", method: :get %>
