<h2>
  <%= t('cbv_flows.summary.header') %>
</h2>

<% if @payments.any? %>
  <p>
    <%= t('cbv_flows.summary.description') %>
  </p>
  <h3 class="site-preview-heading"><%= t('cbv_flows.summary.total_payments') %> <%= number_to_currency(@payments.reduce(0) { |sum, payment| sum + payment[:amount] }) %></h3>

  <div class="usa-accordion usa-accordion--multiselectable margin-bottom-4" data-allow-multiple>
    <% @payments.each_with_index do |payment, index| %>
      <div class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="<%= index %>"
        >
          <%= payment[:employer] %>: <%= t('cbv_flows.summary.payment_of', amount: number_to_currency(payment[:amount])) %>
        </button>
      </div>
      <div id="<%= index %>" class="usa-accordion__content usa-prose">
        <p>
          <%= t('cbv_flows.summary.time_range', hours: payment[:hours], start: format_date(payment[:start]), end: format_date(payment[:end])) %>
        </p>
      </div>
    <% end %>
  </div>
<% else %>
  <h3 class="site-preview-heading">
    <%= t('cbv_flows.summary.none_found') %>
  </h3>
<% end %>

<h2>
  <%= t('cbv_flows.summary.subheader') %>
</h2>

<button class="usa-button" type="button">
  <%= t('cbv_flows.summary.share_with_caseworker') %>
</button>
<%= link_to cbv_flow_summary_path(format: 'pdf'), target: '_blank', class: 'usa-button margin-top-3 usa-button--outline' do %>
  <%= t('cbv_flows.summary.download_pdf') %>
<% end %>
