<h1><%= t(".header") %></h1>
<%= raw t(".description", pay_income_days: current_site.pay_income_days) %>

<%= form_with(model: @cbv_flow_invitation, url: invitations_path, builder: UswdsFormBuilder) do |f| %>
  <%= hidden_field_tag :secret, params[:secret] %>
  <%= render partial: "#{@site_id}", locals: { f: f } %>
  <%= f.submit t(".form.submit") %>
<% end %>
