<% header_text = client_agency_translation(".header") %>
<% content_for :title, header_text %>

<h1><%= header_text %></h1>

<div class="usa-prose">
  <p><%= client_agency_translation(".description") %></p>
</div>

<h2><%= t(".how_it_works") %></h2>

<ol class="usa-process-list">
  <li class="usa-process-list__item">
    <p class="text-bold margin-0"><%= client_agency_translation(".step_1_title") %></p>
    <p class="margin-0"><%= t(".step_1_description") %></p>
  </li>
  <li class="usa-process-list__item">
    <p class="text-bold margin-0"><%= t(".step_2_title") %></p>
    <p class="margin-0"><%= t(".step_2_description") %></p>
  </li>
  <li class="usa-process-list__item">
    <p class="text-bold margin-0"><%= t(".step_3_title") %></p>
    <p class="margin-0"><%= t(".step_3_description") %></p>
  </li>
  <li class="usa-process-list__item">
    <p class="text-bold margin-0"><%= t(".step_4_title") %></p>
    <p class="margin-0"><%= t(".step_4_description") %></p>
  </li>
</ol>

<%= render partial: "#{current_client_agency.sso['name']}_signin_button" %>
