<h1><%= t("activities.volunteering.title") %></h1>
<%= uswds_form_with(model: @volunteering_activity, url: activities_flow_volunteering_path) do |f| %>
  <%= f.text_field :organization_name, label: t("activities.volunteering.organization_name") %>
  <%= f.text_field :hours, type: :number, label: t("activities.volunteering.hours") %>
  <%= f.date_picker :date, label: t("activities.volunteering.date") %>
  <%= f.submit t("activities.volunteering.add") %>
<% end %>
