<%= turbo_frame_tag 'employers' do %>
  <% if @employers.present? %>
    <h3 class="site-preview-heading margin-bottom-2">
      <%= t('cbv_flows.employer_search.results') %>
    </h3>
  <% end %>
  <div class="usa-card-group">
    <% @employers.each do |employer| %>
      <div class="usa-card usa-card--flag usa-card--media-right flex-1">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading"><%= employer['name'] %></h2>
          </div>
          <div class="display-none usa-card__media usa-card__media--inset">
            <% if employer['logo_url'] %>
              <div class="usa-card__img">
                <img
                  src="<%= employer['logo_url'] %>"
                  alt="A placeholder image"
                />
              </div>
            <% end %>
          </div>
          <div class="usa-card__footer">
            <button
              data-action="click->cbv-flows#select"
              data-id="<%= employer['id'] %>"
              data-response-type="<%= employer['response_type'] %>"
              class="usa-button usa-button--outline"
              type="button"
            >
              <%= t('cbv_flows.employer_search.select') %>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
