<% title = t(".header") %>
<% content_for :title, title %>
<div data-controller="cbv-entry-page">
  <h1><%= title %></h1>

  <div class="usa-prose">
    <p><%= t(".subheader_html", agency_acronym: agency_translation("shared.agency_acronym")) %></p>
  </div>

  <ol class="usa-process-list">
    <li class="usa-process-list__item">
      <h2 class="margin-bottom-1"><%= t(".step1") %></h2>
      <p class="margin-top-0"><%= t(".step1_description") %></p>
    </li>
    <li class="usa-process-list__item">
      <h2 class="margin-bottom-1"><%= t(".step2") %></h2>
      <p class="margin-top-0"><%= t(".step2_description", agency_acronym: agency_translation("shared.agency_acronym")) %></p>
    </li>
    <li class="usa-process-list__item">
      <h2 class="margin-bottom-1"><%= t(".step3") %></h2>
      <p class="margin-top-0"><%= t(".step3_description", agency_acronym: agency_translation("shared.agency_acronym")) %></p>
    </li>
  </ol>

  <%= form_with(url: cbv_flow_entry_path, builder: UswdsFormBuilder, data: { turbo: "false" }) do |f| %>
    <%= f.check_box(:agreement, { label: agency_translation(".checkbox", agency_full_name: agency_translation("shared.agency_full_name")), "data-action": "cbv-entry-page#consent", "data-cbv-entry-page-target": "consentCheckbox" }) %>
    <%= f.submit t(".continue") %>
  <% end %>

  <div class="divider margin-top-5 margin-bottom-5"></div>

  <%= render AccordionComponent.new(id: "who_is_this_for-accordion", heading_level: 2, data_action: "click->cbv-entry-page#viewHelpText", data_section_identifier: "who_is_this_tool_for") do |accordion| %>
    <% accordion.with_title do %>
      <%= t(".who_is_this_for_title") %>
    <% end %>
    <% accordion.with_accordion_item do %>
      <%= t(".who_is_this_for_body") %>
    <% end %>
  <% end %>

  <%= render AccordionComponent.new(id: "what_if_I_cant_use_this-accordion", heading_level: 2, data_action: "click->cbv-entry-page#viewHelpText", data_section_identifier: "what_if_i_cant_use_this_tool") do |accordion| %>
    <% accordion.with_title do %>
      <%= t(".what_if_i_cant_use_this_title") %>
    <% end %>
    <% accordion.with_accordion_item do %>
      <%= t(".what_if_i_cant_use_this_body_1", agency_acronym: agency_translation("shared.agency_acronym")) %>
      <%= agency_translation(".what_if_i_cant_use_this_body_2_html", agency_url: current_agency.agency_contact_website, agency_acronym: agency_translation("shared.agency_acronym")) %>
    <% end %>
  <% end %>
</div>
