<% title = t(".header") %>
<% content_for :title, title %>
<h1><%= title %></h1>

<div class="usa-prose">
  <p><%= t(".subheader_html", agency_acronym: current_agency.agency_short_name) %></p>
</div>

<ol class="usa-process-list">
  <li class="usa-process-list__item">
    <h2 class="margin-bottom-1"><%= t(".step1") %></h2>
    <p class="margin-top-0"><%= t(".step1_description") %></p>
  </li>
  <li class="usa-process-list__item">
    <h2 class="margin-bottom-1"><%= t(".step2") %></h2>
    <p class="margin-top-0"><%= t(".step2_description", agency_acronym: current_agency.agency_short_name) %></p>
  </li>
  <li class="usa-process-list__item">
    <h2 class="margin-bottom-1"><%= t(".step3") %></h2>
    <p class="margin-top-0"><%= t(".step3_description", agency_acronym: current_agency.agency_short_name) %></p>
  </li>
</ol>

<%= form_with(url: cbv_flow_entry_path, builder: UswdsFormBuilder, data: { turbo: "false" }) do |f| %>
  <%= f.check_box(:agreement, label: agency_translation(".checkbox", agency_full_name: agency_translation("shared.agency_full_name"))) %>
  <%= f.submit t(".continue") %>
<% end %>
