<h1><%= t(".header") %></h1>

<p><%= t(".subheader") %></p>

<h2><%= t(".subheader_1") %></h2>
<ul>
  <li><%= t(".has_online_payroll_provider") %></li>
  <li><%= t(".do_app_based_work") %></li>
</ul>

<h2><%= t(".subheader_2") %></h2>
<p><%= t(".you_can_get_started") %></p>
<ul>
  <li><%= t(".your_employers_name") %></li>
  <li><%= t(".your_login_credentials") %></li>
</ul>

<div class="usa-alert usa-alert--no-icon bg-accent-cool-lighter margin-bottom-3 margin-top-3">
  <div class="usa-alert__body">
    <div class="grid-row grid-gap-lg">
      <div class="grid-col-auto">
        <%= image_tag "@uswds/uswds/dist/img/usa-icons/lock.svg", role: "img", alt: t("shared.header.close") %>
      </div>
      <div class="grid-col">
        <p class="usa-alert__text">
          <%= t(".security_message") %>
        </p>
      </div>
    </div>
  </div>
</div>

<% if @cbv_flow.case_number %>
  <p><%= t(".case_number", case_number: @cbv_flow.case_number ) %></p>
<% end %>

<%= link_to next_path do %>
  <button class="usa-button usa-button--outline" type="button">
    <%= t(".get_started") %>
  </button>
<% end %>
