<% title = site_translation(".header", agency_acronym: current_site.agency_short_name) %>
<% content_for :title, title %>
<h1><%= title %></h1>

<div class="usa-prose">
  <p><%= t(".subheader", agency_acronym: current_site.agency_short_name) %></p>
</div>

<h2><%= t(".subheader_1") %></h2>
<p><%= t(".has_income_90_days") %></p>
<div class="usa-prose">
  <ul>
    <li><%= t(".has_online_payroll_provider") %></li>
    <li><%= t(".do_app_based_work") %></li>
    <li><%= t(".stopped_working") %></li>
  </ul>
</div>

<h2><%= t(".subheader_2") %></h2>
<div class="usa-prose">
  <p><%= t(".cant_use_if") %></p>
  <ul>
    <li><%= t(".cant_use_1") %></li>
    <li><%= t(".cant_use_2") %></li>
    <li><%= t(".cant_use_3") %></li>
    <li><%= t(".cant_use_4") %></li>
    <li><%= t(".cant_use_5") %></li>
  </ul>
</div>

<h2><%= t(".subheader_3") %></h2>
<div class="usa-prose">
  <p><%= t(".you_can_get_started") %></p>
  <ul>
    <li><%= t(".your_employers_name") %></li>
    <li><%= t(".your_login_credentials") %></li>
  </ul>
</div>

<div class="usa-alert usa-alert--info usa-alert--no-icon margin-bottom-3 margin-top-3">
  <div class="usa-alert__body">
    <div class="grid-row grid-gap-lg">
      <div class="grid-col-auto">
        <%= image_tag "@uswds/uswds/dist/img/usa-icons/lock.svg", role: "img", alt: t("shared.header.close") %>
      </div>
      <div class="grid-col">
        <p class="usa-alert__text">
          <%= t(".security_message_html", agency_acronym: current_site.agency_short_name) %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= link_to next_path do %>
  <button class="usa-button" type="button">
    <%= t(".get_started") %>
  </button>
<% end %>
