<%= turbo_frame_tag "employers" do %>
  <% if @query.present? %>
    <h2 class="site-preview-heading margin-bottom-2">
      <%= t("cbv.employer_searches.show.results") %> (<%= @employers.count %>)
    </h2>
  <% end %>
  <div class="usa-card-group">
    <% @employers.each do |employer| %>
      <div class="usa-card usa-card--flag usa-card--media-right flex-1">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h3 class="usa-card__heading"><%= employer["name"] %></h3>
          </div>
          <div class="display-none usa-card__media usa-card__media--inset">
            <% if employer['logo_url'] %>
              <div class="usa-card__img">
                <img
                  src="<%= employer["logo_url"] %>"
                  alt="A placeholder image"
                >
              </div>
            <% end %>
          </div>
          <div class="usa-card__footer">
            <button
              data-action="click->cbv-employer-search#select"
              data-id="<%= employer["id"] %>"
              data-response-type="<%= employer["response_type"] %>"
              class="usa-button usa-button--outline"
              type="button"
              tabindex="0"
              aria-label="<%= t("cbv.employer_searches.show.select_button_aria_label") %>"
            >
              <%= t("cbv.employer_searches.show.select") %>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @query.present? && @employers.count == 0 %>
    <h3><%= t("cbv.employer_searches.show.no_results_title") %></h3>
    <ol class="line-height-sans-5">
      <li><%= t("cbv.employer_searches.show.no_results_desc1") %></li>
      <li><%= t("cbv.employer_searches.show.no_results_desc2") %></li>
    </ol>
    <p><%= t("cbv.employer_searches.show.no_results_desc3") %> <%= link_to t("cbv.employer_searches.show.no_results_link", agency_short_name: current_site.agency_short_name), current_site.agency_help_link %></p>
    <%= link_to cbv_flow_missing_results_path, class: "usa-button margin-top-5", data: { turbo_frame: "_top" } do %>
      <%= t("cbv.employer_searches.show.exit_button_text") %>
    <% end %>
  <% elsif @employers.count > 1 %>
    <h3><%= t("cbv.employer_searches.show.employer_not_listed") %></h3>
    <%= link_to cbv_flow_missing_results_path, class: "usa-button usa-button--outline", data: { turbo_frame: "_top" } do %>
        <%= t("cbv.employer_searches.show.can_not_find_employer") %>
    <% end %>
  <% end %>
<% end %>
