<%= turbo_frame_tag "employers" do %>
  <% if @query.present? %>
    <h2 class="site-preview-heading margin-bottom-2">
      <%= t("cbv.employer_searches.show.results") %> (<%= @employers.count %>)
    </h2>
  <% end %>
  <div class="usa-card-group">
    <% @employers.each do |employer| %>
      <div class="usa-card usa-card--flag usa-card--media-right flex-1">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h3 class="usa-card__heading"><%= employer.name %></h3>
          </div>
          <div class="display-none usa-card__media usa-card__media--inset">
            <% if employer.logo_url %>
              <div class="usa-card__img">
                <img
                  src="<%= employer.logo_url %>"
                  alt="A placeholder image"
                >
              </div>
            <% end %>
          </div>
          <div class="usa-card__footer">
            <button
              data-action="click->cbv-employer-search#select"
              data-id="<%= employer.provider_options.provider_id %>"
              data-response-type="<%= employer.provider_options.response_type %>"
              data-is-default-option="false"
              data-name="<%= employer.name %>"
              data-cbv-employer-search-target="employerButton"
              data-provider-name="<%= employer.provider_name %>"
              class="usa-button usa-button--outline"
              type="button"
              tabindex="0"
              aria-label="<%= t("cbv.employer_searches.show.select_button_aria_label") %>"
            >
              <%= t("cbv.employer_searches.show.select") %>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @query.present? && @employers.count == 0 %>
    <h3 class="margin-bottom-5"><%= t("cbv.employer_searches.show.no_results_title") %></h3>
    <h4><%= t("cbv.employer_searches.show.no_results_steps_title") %></h4>
    <div class="usa-prose">
      <ol class="line-height-sans-5">
        <li><%= t("cbv.employer_searches.show.no_results_steps1") %></li>
        <li><%= t("cbv.employer_searches.show.no_results_steps2") %></li>
        <li><%= t("cbv.employer_searches.show.no_results_steps3") %></li>
      </ol>
    </div>
    <h4><%= t("cbv.employer_searches.show.to_continue") %></h4>
    <div class="usa-prose">
      <ul class="line-height-sans-5">
        <li><%= t("cbv.employer_searches.show.to_continue_li_1") %> <%= agency_translation("cbv.employer_searches.show.to_continue_li_1_html", agency_url: agency_url) %></li>
        <li><%= t("cbv.employer_searches.show.to_continue_li_2") %></li>
        <% if @has_payroll_account %>
          <li><%= t("cbv.employer_searches.show.to_continue_li_3_continue") %></li>
        <% else %>
          <li><%= t("cbv.employer_searches.show.to_continue_li_3") %></li>
        <% end %>
      </ul>
    </div>

      <% if @has_payroll_account %>
        <%= link_to t("cbv.employer_searches.show.review_button_text"), cbv_flow_applicant_information_path, class: "usa-button usa-button--outline margin-top-5", data: { turbo_frame: "_top" } %>
     <% else %>
        <%= link_to t("cbv.employer_searches.show.exit_button_text", agency_short_name: current_agency.agency_short_name), current_agency.agency_contact_website, class: "usa-button usa-button--outline margin-top-5", data: { turbo_frame: "_top" } %>
      <% end %>

    <hr class="margin-y-5 border-base-light border-top-0" >
  <% elsif @employers.count > 0 %>
    <h2><%= t("cbv.employer_searches.show.employer_not_listed") %></h2>
    <%= link_to cbv_flow_missing_results_path, class: "usa-button usa-button--outline", data: { turbo_frame: "_top" } do %>
        <%= t("cbv.employer_searches.show.can_not_find_employer") %>
    <% end %>

    <hr class="margin-y-5 border-base-light border-top-0" >
  <% end %>
<% end %>
