<% content_for :title, t(".header") %>
<h1>
  <%= t(".header") %>
</h1>

<div data-controller="cbv-employer-search" data-cbv-employer-search-cbv-flow-id-value=<%= @cbv_flow.id %>>
  <div class="usa-prose">
    <p class="line-height-sans-5"><%= t(".search_for_employer", agency_acronym: current_site.agency_short_name) %></p>
    <p class="line-height-sans-5"><%= t(".to_access") %></p>
    <ul class="line-height-sans-5">
      <li><%= t(".to_access_li_1_html") %></li>
      <li><%= t(".to_access_li_2_html") %></li>
      <li><%= t(".to_access_li_3_html") %></li>
    </ul>

    <p><%= t(".you_ll_go") %></p>
    <div class="grid-row grid-gap-md">
      <div class="grid-col-auto">
        <svg class="usa-icon usa-icon--size-3 text-primary text-bottom" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#help") %>"></use>
        </svg>
      </div>
      <div class="grid-col tablet:grid-col-8 line-height-sans-5">
        <%= t(".what_is_html") %>
      </div>
    </div>
  </div>

  <%= form_with url: cbv_flow_employer_search_path, method: :get, class: "usa-search usa-search--big margin-y-4", html: { role: "search" }, data: { turbo_frame: "employers", turbo_action: "advance" } do |f| %>
    <%= f.label :query, "Search for your employer", class: "usa-sr-only" %>
    <%= f.text_field :query, value: @query, class: "usa-input", type: "search" %>
    <button
      class="usa-button"
      type="submit"
    >
      <span class="usa-search__submit-text">
        <%= t(".search") %>
      </span>
      <%= image_tag "@uswds/uswds/dist/img/usa-icons-bg/search--white.svg", class: "usa-search__submit-icon", alt: "Search" %>
    </button>
  <% end %>

  <%= render partial: "employer", locals: { employer: @employers } %>

  <%= form_with url: next_path, method: :get, class: "display-none", data: { 'cbv-employer-search-target': "form" } do |f| %>
    <input type="hidden" name="user[account_id]" data-cbv-employer-search-target="userAccountId" >
  <% end %>
</div>
