<% content_for :title, t(".header") %>
<h1>
  <%= t(".header") %>
</h1>

<div data-controller="cbv-employer-search" data-cbv-employer-search-cbv-flow-id-value="<%= @cbv_flow.id %>">
  <div class="usa-prose">
    <p class="line-height-sans-5"><%= t(".search_for_employer", agency_acronym: current_site.agency_short_name) %></p>
    <p class="line-height-sans-5"><%= t(".to_access") %></p>
    <ul class="line-height-sans-5">
      <li><%= t(".to_access_li_1_html") %></li>
      <li><%= t(".to_access_li_2_html") %></li>
      <li><%= t(".to_access_li_3_html") %></li>
    </ul>

    <p><%= t(".you_ll_go") %></p>
    <div class="grid-row grid-gap-md">
      <div class="grid-col-auto">
        <svg class="usa-icon usa-icon--size-3 text-primary text-bottom" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#help") %>"></use>
        </svg>
      </div>
      <div class="grid-col tablet:grid-col-8 line-height-sans-5">
        <%= t(".what_is_html") %>
      </div>
    </div>
  </div>

  <%= form_with url: cbv_flow_employer_search_path, method: :get, class: "usa-search usa-search--big margin-y-4", html: { role: "search" }, data: { turbo_frame: "employers", turbo_action: "advance" } do |f| %>
    <%= f.label :query, "Search for your employer", class: "usa-sr-only" %>
    <%= f.text_field :query, value: @query, class: "usa-input", type: "search" %>
    <button
      class="usa-button"
      type="submit"
    >
      <span class="usa-search__submit-text">
        <%= t(".search") %>
      </span>
      <%= image_tag "@uswds/uswds/dist/img/usa-icons-bg/search--white.svg", class: "usa-search__submit-icon", alt: "Search" %>
    </button>
  <% end %>

  <%= render partial: "employer", locals: { employer: @employers } %>

  <%= form_with url: next_path, method: :get, class: "display-none", data: { 'cbv-employer-search-target': "form" } do |f| %>
    <input type="hidden" name="user[account_id]" data-cbv-employer-search-target="userAccountId" >
  <% end %>

  <h2><%= t(".popular_providers") %></h2>
  <%= turbo_frame_tag "popular" do %>
    <div class="grid-row maxw-mobile-lg margin-left-0 padding-left-0 margin-top-4">
      <%= link_to t(".payroll_providers"), cbv_flow_employer_search_path(type: :payroll),
        class: "grid-col usa-button margin-0 radius-right-0 #{@type != 'payroll' && 'usa-button--outline'}",
        data: { turbo_frame: "popular", turbo_action: "advance" } %>
      <%= link_to t(".app_based_providers"), cbv_flow_employer_search_path(type: :employer),
        class: "grid-col usa-button margin-0 radius-left-0 #{@type != 'employer' && 'usa-button--outline'}",
        data: { turbo_frame: "popular", turbo_action: "advance" } %>
    </div>

    <div class="grid-row grid-gap margin-top-2">
      <% (@type == "payroll" ? PinwheelService::TOP_PROVIDERS : PinwheelService::TOP_EMPLOYERS).each do |provider| %>
        <div class="grid-col-4 tablet:grid-col-2 margin-top-2">
          <button
            data-action="click->cbv-employer-search#select"
            data-id="<%= provider[:id] %>"
            data-response-type="<%= provider[:response_type] %>"
            data-cbv-employer-search-target="employerButton"
            type="button"
            class="width-full usa-button usa-button--outline box-shadow-gray"
          >
            <figure class="margin-0 pointer-events-none">
              <img
                class="usa-icon--size-7 radius-pill width-6 height-6"
                src="<%= provider[:logo_url] %>"
                alt="A placeholder image"
              >
              <figcaption class="margin-top-1"><%= provider[:name] %></figcaption>
            </figure>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
