<h1>
  <%= t(".header") %>
</h1>

<div data-controller="cbv-employer-search">
  <p><%= t(".search_for_employer") %></p>
  <p><%= t(".to_access") %></p>
  <ul>
    <li><%= t(".to_access_li_1_html") %></li>
    <li><%= t(".to_access_li_2_html") %></li>
    <li><%= t(".to_access_li_3_html") %></li>
  </ul>

  <p><%= t(".you_ll_go") %></p>
  <div class="grid-row grid-gap-md">
      <div class="grid-col-auto">
        <svg class="usa-icon text-primary" aria-hidden="true" focusable="false" role="img">
         <use xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#help") %>"></use>
        </svg>
      </div>
      <div class="grid-col">
        <%= t(".what_is_html") %>
      </div>
    </div>
  <%= form_with url: cbv_flow_employer_search_path, method: :get, class: "usa-search usa-search--big margin-top-4", html: { role: "search" }, data: { turbo_frame: "employers", turbo_action: "advance" } do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <%= f.label :query, "Search for your employer", class: "usa-sr-only" %>
    <%= f.text_field :query, value: @query, class: "usa-input", type: "search", data: { "cbv-employer-search-target": "searchTerms" } %>
    <button
      class="usa-button"
      type="submit"
    >
      <span class="usa-search__submit-text">
        <%= t(".search") %>
      </span>
      <%= image_tag "@uswds/uswds/dist/img/usa-icons-bg/search--white.svg", class: "usa-search__submit-icon", alt: "Search" %>
    </button>
  <% end %>

  <%= render partial: "employer", locals: { employer: @employers } %>

  <%= form_with url: next_path, method: :get, class: "display-none", data: { 'cbv-employer-search-target': "form" } do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <input type="hidden" name="user[account_id]" data-cbv-employer-search-target="userAccountId" >
  <% end %>

  <a
    href="#data-fetching-modal"
    class="display-none"
    aria-controls="data-fetching-modal"
    data-open-modal
    data-cbv-employer-search-target="modal"
  ></a>
  <div class="margin-y-3">
    <div
      class="usa-modal"
      id="data-fetching-modal"
      aria-labelledby="modal-3-heading"
      aria-describedby="modal-3-description"
      data-force-action
    >
      <div class="usa-modal__content">
        <div class="usa-modal__main">
          <h2 class="usa-modal__heading" id="modal-3-heading">
            <%= t(".fetching_payroll") %>
          </h2>
          <div class="usa-prose">
            <p id="modal-3-description">
              <%= t(".fetching_payroll_description") %>
            </p>
          </div>
          <div class="lds-ripple" style="left: 30%;"><div></div><div></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
