<% content_for :title, t(".header") %>

<div data-controller="cbv-employer-search" data-cbv-employer-search-cbv-flow-id-value="<%= @flow.id %>">
  <div data-cbv-employer-search-target="helpAlert" class="display-none margin-bottom-4">
    <%= render Uswds::Alert.new(type: :warning, heading: t(".alert.heading")) do %>
      <%= render("help/help_link", text: t(".alert.help_options"), source: "banner") %>
    <% end %>
  </div>

  <h1 class="margin-top-0"><%= t(".header") %></h1>

  <p><%= t(".search_label") %></p>

  <%= form_with url: cbv_flow_employer_search_path,
                method: :get,
                class: "usa-search usa-search--big margin-y-4",
                html: { role: "search" },
                data: { turbo_frame: "employers", turbo_action: "advance" } do |f| %>

    <%= f.label :query, "Search for your employer", class: "usa-sr-only" %>
    <%= f.text_field :query, value: @query, class: "usa-input", type: "search" %>
    <button
      class="usa-button"
      type="submit">
        <span class="usa-search__submit-text">
          <%= t(".search") %>
        </span>
      <%= image_tag "@uswds/uswds/dist/img/usa-icons-bg/search--white.svg", class: "usa-search__submit-icon", alt: "Search" %>
    </button>

  <% end %>

  <%= render partial: "employer", locals: { employer: @employers } %>

  <%= form_with url: next_path,
                method: :get,
                class: "display-none",
                data: { "cbv-employer-search-target": "form" } do |f| %>
    <input type="hidden" name="user[account_id]" data-cbv-employer-search-target="userAccountId">
  <% end %>

  <h2><%= t(".popular_providers") %></h2>

  <div data-cbv-employer-search-target="tabAnnouncement"
       aria-live="assertive"
       role="status"
       class="usa-sr-only"></div>

  <%= turbo_frame_tag "popular" do %>

    <div class="grid-row grid-gap margin-top-2">
      <% (ProviderSearchService.new(@flow.cbv_applicant.client_agency_id).top_aggregator_options(@selected_tab)).each do |provider| %>
        <div class="grid-col-4 tablet:grid-col-2 margin-top-2">
          <button
            data-action="click->cbv-employer-search#select"
            data-id="<%= provider.provider_options.provider_id %>"
            data-name="<%= provider.name %>"
            data-response-type="<%= provider.provider_options.response_type %>"
            data-provider-name="<%= provider.provider_name %>"
            data-is-default-option="true"
            data-cbv-employer-search-target="employerButton"
            type="button"
            class="width-full height-full usa-button usa-button--outline box-shadow-gray"
          >
            <figure class="margin-0 pointer-events-none">
              <img
                class="usa-icon--size-7 radius-pill width-6 height-6"
                src="<%= provider.logo_url %>"
                alt=""
              >
              <figcaption class="margin-top-1"><%= provider.name %></figcaption>
            </figure>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="divider margin-bottom-2 margin-top-5"></div>

  <h2><%= t(".common_questions_header") %></h2>

  <%= render AccordionComponent.new(id: "employer-search-lost-job",
                                   heading_level: 2,
                                   data_action: "click->common-questions#view",
                                   data_section_identifier: "what_if_i_lost_my_job",
                                   data_page: "employer_search") do |a| %>
    <% a.with_title { t(".lost_job_title") } %>
    <% a.with_accordion_item { t(".lost_job_body_html") } %>
  <% end %>

  <%= render AccordionComponent.new(id: "employer-search-no-income",
                                   heading_level: 2,
                                   data_action: "click->common-questions#view",
                                   data_section_identifier: "what_if_i_have_no_income_to_report",
                                   data_page: "employer_search") do |a| %>
    <% a.with_title { t(".no_income_title") } %>
    <% a.with_accordion_item { t(".no_income_body", agency_acronym: agency_translation("shared.agency_acronym")) } %>
  <% end %>
</div>
