<%= render(TableComponent.new) do |table| %>
  <%= table.with_header do %>
    <h4 class="margin-0">
      <% if @employer_name.present? %>
        <%= @employer_name %> &mdash;
      <% end %>
      <%= I18n.t("components.report.monthly_summary_table.monthly_summary") %>
    </h4>
  <% end %>
  <%= table.with_row do |row| %>
    <%= row.with_data_cell.with_content(I18n.t("components.report.monthly_summary_table.month")) %>
    <%= row.with_data_cell.with_content(I18n.t("components.report.monthly_summary_table.accrued_gross_earnings")) %>
    <%= row.with_data_cell.with_content(I18n.t("components.report.monthly_summary_table.total_gig_hours")) %>
  <% end %>
  <% self.summarize_by_month.each_with_index do |(month_string, summary), index| %>
    <%= table.with_row do |row| %>
      <% row.with_data_cell do |cell| %>
        <%= format_parsed_date(self.class.parse_month_safely(month_string), :month_year) %>
          <% if summary[:partial_month_range][:is_partial_month] %>
            <br ><span class="text-muted"><%= I18n.t("components.report.monthly_summary_table.partial_month_text", start_date:  summary[:partial_month_range][:include_range_start], end_date: nil) %></span>
          <% end %>
      <% end %>
      <%= row.with_data_cell.with_content(format_money(summary[:accrued_gross_earnings])) %>
      <%= row.with_data_cell.with_content(summary[:total_gig_hours]) %>
    <% end %>
  <% end %>
<% end %>
<caption><%= I18n.t("components.report.monthly_summary_table.footnote") %></caption>
