<% content_for :title, t("pages.home.pilot_ended.la_ldh.browser_title") %>
<h1><%= t("pages.home.pilot_ended.la_ldh.header") %></h1>

<p><%= t("pages.home.pilot_ended.la_ldh.body_html") %></p>
<ul>
  <li><%= t("pages.home.pilot_ended.la_ldh.body_bullet_1_html") %></li>
  <li><%= t("pages.home.pilot_ended.la_ldh.body_bullet_2_html") %></li>
  <li><%= t("pages.home.pilot_ended.la_ldh.body_bullet_3_html") %></li>
  <li><%= t("pages.home.pilot_ended.la_ldh.body_bullet_4_html") %></li>
</ul>
