<h1><%= t('shared.verify.welcome') %></h1>
<h2><%= t('shared.verify.description') %></h2>

<p><%= t('shared.verify.subheader') %></p>

<%= link_to cbv_flow_entry_path do %>
  <button class="usa-button usa-button--outline" type="button"><%= t('cbv.manual_flow_start') %></button>
<% end %>
