<h1><%= t("shared.verify.welcome") %></h1>
<h2><%= t("shared.verify.description") %></h2>

<p><%= t("shared.verify.subheader") %></p>

<%= link_to cbv_flow_entry_path do %>
  <button class="usa-button usa-button--outline" type="button"><%= t("cbv.manual_flow_start") %></button>
<% end %>

<%= button_to "Sign in SSO", user_azure_activedirectory_v2_omniauth_authorize_path, data: { turbo: false, turbolinks: false, 'turbo-method' => :post } %>
