<h1><%= t("shared.verify.welcome") %></h1>
<h2><%= t("shared.verify.description") %></h2>

<p><%= t("shared.verify.subheader") %></p>

<%= link_to cbv_flow_entry_path do %>
  <button class="usa-button usa-button--outline" type="button"><%= t("cbv.manual_flow_start") %></button>
<% end %>

<%= button_to "Sign in MA DTA", user_ma_dta_omniauth_authorize_path, data: { turbo: false }, class: "usa-button" %>

<%= button_to "Sign in NYC DSS", user_nyc_dss_omniauth_authorize_path, data: { turbo: false }, class: "usa-button" %>
