<div class="usa-overlay"></div>
<% if current_site.present? %>
  <header class="cbv-header__preheader">
    <div class="cbv-header__preheader__text">
      <%= site_translation("shared.header.preheader") %>
    </div>
  </header>
<% end %>
<header class="usa-header usa-header--basic" aria-label="<%= t("shared.header.aria_label") %>">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text cbv-header">
          <div class="cbv-header__pilot-name">
            <%= t("shared.pilot_name") %>
            <% if current_site %>
              <span class="cbv-header__separator">|</span>
            <% end %>
          </div>

          <% has_square_logo = current_site && current_site.logo_path %>
          <div class="<%= has_square_logo ?
            "display-none tablet:display-flex" : "display-flex" %> flex-align-center">
            <% if current_site && current_site.logo_square_path %>
              <%= image_tag current_site.logo_square_path, class: "cbv-header__agency-logo cbv-header__agency-logo--#{current_site.id}" %>
            <% end %>
            <%= site_translation("shared.header.cbv_flow_title") %>
          </div>

          <% if current_site && current_site.logo_path %>
            <%= image_tag current_site.logo_path, class: "cbv-header__agency-logo cbv-header__agency-logo--#{current_site.id} tablet:display-none" %>
          <% end %>
        </em>
      </div>

      <% if show_menu? %>
        <button class="usa-menu-btn"><%= t("shared.header.menu") %></button>
      <% end %>
    </div>
    <nav aria-label="<%= t("shared.header.primary") %>" class="usa-nav cbv-header__nav">
      <button class="usa-nav__close">
        <%= image_tag "@uswds/uswds/dist/img/usa-icons/close.svg", role: "img", alt: t("shared.header.close") %>
      </button>
      <ul class="usa-nav__primary usa-accordion">
          <% if user_signed_in? %>
            <li class="usa-nav__primary-item">
              <%= button_to t("shared.header.log_out"), destroy_user_session_url(site_id: current_user.site_id), method: :delete, class: "usa-nav__link" %>
            </li>
          <% end %>

          <% if show_translate_button? %>
            <% I18n.available_locales.each do |locale| %>
              <% next if locale == I18n.locale %>
              <li class="usa-nav__primary-item" onclick="window.NREUM && window.NREUM.addPageAction('LanguageManuallySwitched', { requested_locale: <%= locale %> })">
                <%= switch_locale_link(locale) %>
              </li>
            <% end %>
          <% end %>
        </ul>
    </nav>
  </div>
</header>
