<% content_for :title, t("activities.success.title", agency_name: agency_translation("shared.agency_full_name")) %>

<h1>
  <%= t("activities.success.title", agency_name: agency_translation("shared.agency_full_name")) %>
</h1>
<p>
  <%= t("activities.success.description") %>
</p>

<p>
  <strong>
    <%= t("activities.success.completed_at") %>
  </strong>
  <%= l(@flow.completed_at, format: :long) %>
</p>

<%= link_to t("activities.success.download_pdf"),
            activities_flow_submit_path(format: :pdf),
            class: "usa-button usa-button--primary",
            target: "_blank" %>
