<% content_for :title, t(".header") %>
<h1><%= t(".header_html") %></h1>

<p><%= t(".header_sub_text") %></p>
<ul>
  <li><%= t(".bullet_1") %></li>
  <li><%= t(".bullet_2") %></li>
  <li><%= t(".bullet_3") %></li>
  <li><%= t(".bullet_4") %></li>
</ul>

<%= form_with(model: @cbv_flow, url: cbv_flow_other_job_path, method: :patch, class: "maxw-none", builder: UswdsFormBuilder, id: "other_jobs_form") do |f| %>
  <%= f.radio_button(:has_other_jobs, true, { label: t(".radio_yes") }) %>
  <%= f.radio_button(:has_other_jobs, false, { label: t(".radio_no") }) %>

  <p><%= t(".note_html", agency_site: current_agency.agency_contact_website, agency_acronym: agency_translation("shared.agency_acronym")) %></p>
  <%= f.submit t("continue") %>
<% end %>
