<% content_for :title, t(".header") %>

<h1><%= t(".header") %></h1>

<p><%= t(".invite_clients") %></p>

<h2><%= t(".helpful_reminders") %></h2>
<ul>
  <li><%= t(".reminder_1") %></li>
  <li><%= t(".reminder_2", expires_days: t(".expires_within", count: current_agency.invitation_valid_days)) %></li>
  <li><%= t(".reminder_3") %></li>
  <li><%= t(".reminder_4") %></li>
</ul>

<div class="margin-top-5">
  <%= link_to t(".create_invitation"), new_invitation_path(client_agency_id: params[:client_agency_id]), class: "usa-button usa-button--primary" %>
</div>
