<% title = t(".header", agency_acronym: current_agency.agency_short_name) %>
<% content_for :title, title %>
<div class="grid-col tablet:grid-col-10">
  <h1><%= title %></h1>

  <div class="usa-prose">
    <p><%= t(".confirmation_code_html", confirmation_code: @cbv_flow.confirmation_code) %></p>

    <%= link_to cbv_flow_submit_path(format: "pdf"), target: "_blank", rel: "noopener noreferrer", class: "usa-button usa-button--primary" do %>
      <%= t(".download") %>
    <% end %>
  </div>

  <h2><%= t(".whats_next") %></h2>

  <ul>
    <li>
      <strong><%= t(".whats_next_1_title") %></strong>
      <ul style="list-style-type: disc;">
        <li><%= t(".whats_next_1_li_1", agency_acronym: current_agency.agency_short_name) %></li>
        <li><%= t(".whats_next_1_li_2", agency_acronym: current_agency.agency_short_name, agency_website: current_agency.agency_contact_website).html_safe %></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <strong><%= t(".whats_next_2_title") %></strong>
      <ul style="list-style-type: disc;">
        <li><%= t(".whats_next_2_li_1", agency_feedback_form: current_agency.caseworker_feedback_form).html_safe %></li>
      </ul>
    </li>
  </ul>

  <div class="border border-info-light bg-info-lighter padding-2 margin-top-3 radius-md">
    <h3 class="margin-top-0"><%= t(".share_invitation_link_title") %></h3>
    <p><%= t(".share_invitation_link_content") %></p>

    <div class="display-flex flex-align-center" data-controller="copy-link">
      <%= form_with(builder: UswdsFormBuilder, html: { style: "display: contents;" }) do |f| %>
        <%= f.label :invitation_link, t(".invitation_link_label"), class: "usa-sr-only" %>
        <input value="<%= @invitation_link %>" autocomplete="off" readonly class="usa-input" style="flex: 1;" data-copy-link-target="input" type="text" name="invitation_link" id="invitation_link">
        <%# default button variant %>
        <%= f.button_with_icon(t(".copy_link"),
              class: "copy-link-button",
              icon: "content_copy",
              icon_position: :leading,
              variant: :primary,
              type: "button",
              data: {
                copy_link_target: "copyLinkButton",
                action: "click->copy-link#copy"
              }) %>
        <%# success button variant %>
        <%= f.button_with_icon(t(".copied_link"),
              class: "copy-link-button invisible",
              icon: "check_circle",
              icon_position: :leading,
              variant: :success,
              type: "button",
              data: {
                copy_link_target: "successButton"
              }) %>
      <% end %>
    </div>
  </div>
</div>
