<% content_for :title, t(".header") %>
<h1><%= t(".header") %></h1>

<div class="usa-prose">
  <ul>
    <li><%= t(".caseworker_received") %></li>
    <li><%= t(".check_status") %></li>
  </ul>

  <p>
    <%= t(".confirmation_code", confirmation_code: @cbv_flow.confirmation_code) %>
  </p>
</div>

  <%= link_to cbv_flow_summary_path(format: "pdf"), target: "_blank", class: "usa-button margin-top-3 usa-button--outline" do %>
    <%= t(".download") %>
  <% end %>

  <%= link_to agency_url, target: "_blank", class: "usa-button margin-top-3 usa-button" do %>
    <%= t(".back_to_agency") %>
  <% end %>
