<% content_for :title, t(".header") %>
<div class="grid-col tablet:grid-col-10">
  <h1><%= t(".header") %></h1>
</div>

<div class="usa-prose">
  <p>
    <%= t(".confirmation_code_html", confirmation_code: @cbv_flow.confirmation_code) %>
  </p>

  <p><%= t(".caseworker_received") %></p>
  <p><%= t(".if_it_didnt_work") %></p>
  <p><%= t(".check_status") %></p>
</div>

<%= link_to cbv_flow_summary_path(format: "pdf"), target: "_blank", class: "usa-button margin-top-3 usa-button--primary" do %>
  <%= t(".download") %>
<% end %>

<div>
  <%= link_to agency_url, target: "_blank", class: "usa-button margin-top-3 usa-button usa-button--outline" do %>
    <%= t(".back_to_agency", agency_short_name: current_site.agency_short_name) %>
  <% end %>
</div>
