<% title = t(".header", agency_acronym: current_agency.agency_short_name) %>
<% content_for :title, title %>
<div class="grid-col tablet:grid-col-10">
<h1><%= title %></h1>
</div>

<div class="usa-prose">
  <p><%= t(".confirmation_code_html", confirmation_code: @cbv_flow.confirmation_code) %></p>

  <p><%= t(".caseworker_received", agency_acronym: current_agency.agency_short_name) %></p>
  <p><%= t(".if_it_didnt_work", agency_acronym: current_agency.agency_short_name) %></p>
  <p><%= t(".follow_up", agency_acronym: current_agency.agency_short_name) %></p>

  <%= link_to cbv_flow_submit_path(format: "pdf"), target: "_blank", rel: "noopener noreferrer", class: "usa-button margin-top-3 usa-button--primary" do %>
    <%= t(".download") %>
      <% end %>

  <div>
    <%= link_to agency_url, target: "_blank", rel: "noopener noreferrer", class: "usa-button margin-top-3 usa-button usa-button--outline" do %>
      <%= t(".back_to_agency", agency_short_name: current_agency.agency_short_name) %>
    <% end %>
  </div>
</div>
