<div class="field_with_errors">
  <%= f.text_field :first_name %>
</div>

<div class="field_with_errors">
  <%= f.text_field :middle_name %>
</div>

<div class="field_with_errors">
  <%= f.text_field :last_name %>
</div>

<div class="field_with_errors">
  <%= f.text_field :case_number %>
</div>

<div class="field_with_errors">
  <%= f.date_picker :snap_application_date, label: t(".invite.snap_application_date"), hint: "mm/dd/yyyy" %>
</div>

<div class="field_with_errors">
  <%= f.text_field :email_address %>
</div>
